<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <head>
        <title>Header</title>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['img/favicon.ico']}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <h:outputStylesheet>
            a:hover{
                color: #992416;
            }
        </h:outputStylesheet>
    </head>
    <body>
        <ui:composition>
            <!--<f:loadBundle basename="bundle" var="lang"/>-->
            <!-- Wish Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="wishModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="#{bundle.Close}">
                                <span aria-hidden="true">X</span></button>
                            <h4 class="modal-title" id="wishModalLabel">#{bundle.addWishLabel}</h4>
                        </div>
                        <div class="modal-body" style="overflow: hidden;">
                            <h:form id="productsForm" dir="#{langBean.location}">
                                <div style="clear: both">
                                    <p:messages for="wishListMessages" showDetail="true"  autoUpdate="true" closable="true" />
                                </div>
                                <div class="col_3of3">
                                    <div class="col_1of2">
                                        <section class="box widget find">
                                            <h:outputLabel for="InputCategory" style="font-size: 12px;">#{bundle.categoriesLabel}</h:outputLabel>
                                            <h:selectOneMenu id="InputCategory" value="#{selectedProducts.selectedCategory}" converter="omnifaces.SelectItemsConverter" style="display: block;">
                                                <f:selectItem itemLabel="#{bundle.header_chooseCategoryLabel}" noSelectionOption="true" />
                                                <f:selectItems value="#{selectedProducts.categories}" var="cat" itemValue="#{cat}" itemLabel="#{cat.name}" />
                                                <f:ajax execute="@form" render="@form"/>
                                            </h:selectOneMenu>
                                        </section>
                                    </div>
                                    <div id="companies">
                                        <div class="col_1of2">
                                            <section class="box widget find">
                                                <h:outputLabel for="InputCompany" style="font-size: 12px;">#{bundle.companiesLabel}</h:outputLabel>
                                                <h:selectOneMenu id="InputCompany" value="#{selectedProducts.selectedCompany}" converter="omnifaces.SelectItemsConverter" style="display: block;">
                                                    <f:selectItem itemLabel="#{bundle.header_chooseCompanyLabel}" noSelectionOption="true" />
                                                    <f:selectItems value="#{selectedProducts.companies}" var="comp" itemValue="#{comp}" itemLabel="#{comp.name}" />
                                                    <f:ajax execute="@form" render="@form"/>
                                                </h:selectOneMenu>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <div class="col_3of3" id="products">
                                    <c:forEach begin="0" end="#{selectedProducts.products.size()-1}" step="1" var="index">
                                        <section class="box widget find  col_1of2" style="float:left; margin-right: 10px; height:231px;">
                                            <div class="avatar">
                                                <c:if test="#{empty selectedProducts.products.get(index).image}">
                                                    <h:graphicImage library="images" name="productImage.jpg" width="148" height="91"/>
                                                </c:if>
                                                <c:if test="#{not empty selectedProducts.products.get(index).image}">
                                                    <h:graphicImage value="#{imageUtil.getImageSrc(selectedProducts.products.get(index).image)}" width="148" height="91"/>
                                                </c:if>
                                            </div>
                                            <h2 class="album"><h:outputLabel id="a#{index}" styleClass="productNameForTooltip" style="height: 41px;">#{selectedProducts.products.get(index).name}</h:outputLabel></h2>
                                            <!-- <h:commandLink id="a#{index}" class="btn btn-primary btn-large btn-block">View Details</h:commandLink>-->
                                            <p:tooltip trackMouse="true" id="toolTipTrack" for="productsForm:a#{index}" style="padding: 0px; font-family: Verdana, Tahoma; font-size: 13px; z-index: 1700; width:35%">
                                                #{bundle.descriptionLabel} #{selectedProducts.products.get(index).description}
                                                <br/>
                                                 #{bundle.priceLabel} #{selectedProducts.products.get(index).price}

                                            </p:tooltip>
                                            <h:commandLink action="#{selectedProducts.addToSelectedProducts(selectedProducts.products.get(index))}"
                                                           styleClass="btn btn-primary btn-large btn-block">#{bundle.header_addItemButton}
                                                <f:ajax execute="@form" render="@form wishes-form-page wishes-form"/>
                                            </h:commandLink>

                                            <h:outputScript>
                                                $(".productNameForTooltip").hover(function(){
                                                setTimeout(function(){ $(".ui-tooltip").css("z-index","1100"); }
                                                , 250);
                                                });
                                            </h:outputScript>

                                        </section>
                                    </c:forEach>

                                </div>

                            </h:form>
                        </div>
                        <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>-->
                    </div>
                </div>
            </div>

            <!-- event Modal -->
             <div class="modal fade" id="EventModal" tabindex="-1" role="dialog" aria-labelledby="wishModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                         <h:form prependId="false" dir="#{langBean.location}">
                             <div style="clear: both">
                                 <p:messages for="eventMessage" showSummary="true"  autoUpdate="true" closable="true" />
                             </div>
                            <div class="modal-body">

                                 <!--<p:messages closable="true" for="eventMessage" showSummary="true"/>-->
                                <p>#{bundle.eventNameLabel}
                                    <h:inputText  id="eventName" value="#{eventsBean.userEvent.name}" required="true"  requiredMessage="#{bundle.createEventRequiredMessage_eventName}" validatorMessage="#{bundle.createEventValidationMessage_eventName}" >
                                        <f:validateLength minimum="3" maximum="50"/>
                                    </h:inputText><br></br>
                                    <h:message styleClass="label label-danger" for="eventName"/>
                                </p>

                                <p>#{bundle.eventDescriptionLabel}
                                    <h:inputTextarea id="descId" cols="50" rows="3" value="#{eventsBean.userEvent.description}" styleClass="form-control" validatorMessage="#{bundle.createEventValidationMessage_eventDescription}">
                                        <f:validateLength maximum="500"/>
                                    </h:inputTextarea><br></br>
                                </p>


                                <p>#{bundle.eventTypeLabel}
                                    <h:selectOneMenu id="eventType" value="#{eventsBean.selectedEventType}" styleClass="form-control" required="true"  requiredMessage="Please select one event type" converter="EventTypeControllerConverter">

                                        <f:selectItem itemLabel="#{bundle.createEvent_chooseEventType}" noSelectionOption="true" />
                                        <f:selectItems value="#{eventsBean.eventTypes}" var="cat" itemValue="#{cat}" itemLabel="#{cat.name}" />

                                    </h:selectOneMenu>
                                    <h:message styleClass="label label-danger" for="eventType"/>
                                </p>

                                <p>#{bundle.eventPlaceLabel}
                                    <h:selectOneMenu id="placeID" value="#{eventsBean.selectedPlace}" styleClass="form-control" converter="PlaceControllerConverter">
                                        <f:selectItem itemLabel="#{bundle.createEvent_chooseEventPlace}" noSelectionOption="true" />
                                        <f:selectItems value="#{eventsBean.places}" var="catt" itemValue="#{catt}" itemLabel="#{catt.name}" />
                                    </h:selectOneMenu>
                                </p>

                                <p>#{bundle.eventDateLabel}
                                    <p:calendar  id="eventDate" value="#{eventsBean.userEvent.date}" mode="inline"  locale="ar" navigator="true"  pattern="dd-MM-yyyy"
                                                 placeholder="#{bundle.birthdayPlaceHolder}"  converterMessage="#{bundle.createEventConverterMessage_eventDate}" required="true" requiredMessage="#{bundle.createEventRequiredMessage_eventDate}" >
                                    </p:calendar>
                                    <h:message styleClass="label label-danger" for="eventDate"/>
                                </p>

                            </div>
                            <div class="modal-footer">

                                <p:commandLink id="addBtn" validateClient="true" action="#{eventsBean.addEvent()}"  styleClass="btn btn-primary"  value="#{bundle.createEventAddButton}" style="width:67.2656px;">
                                    <f:ajax execute="@form"/>
                                </p:commandLink>

                                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">#{bundle.Cancel}</button>
                            </div>

                        </h:form>
                    </div>
                </div>
            </div>

            <div class="grid_3">
                <section class="box widget locations">
                    <div class="avatar">
                        <f:subview id="def#{user.id}" rendered="#{user.picture eq null}">
                            <h:graphicImage library="img"  name="profile.jpg" />
                        </f:subview>

                        <f:subview id="img#{user.id}" rendered="#{user.picture ne null}">
                            <h:graphicImage value="#{imageUtil.getImageSrc(user.picture)}"/>
                        </f:subview>
                    </div>
                    <div class="details">
                        <h2>#{user.name}</h2>
                        <p>#{user.email}</p>
                        <h:form dir="#{langBean.location}">
                            <h:commandLink action="profile" class="btn btn-primary btn-block btn-large">#{bundle.viewProfile}</h:commandLink>
                        </h:form>
                    </div>
                </section>

                <section class="box widget calendar">
                    <h:form dir="#{langBean.location}">
                        <a class="btn btn-primary btn-large btn-block " data-toggle="modal" data-target="#myModal" >
                           #{bundle.addWishButton}
                        </a>
                        <a class="btn btn-primary btn-large btn-block " data-toggle="modal" data-target="#EventModal" >
                           #{bundle.addEventButton}
                        </a>
                    </h:form>
                </section>
                <section class="box widget calendar">
                    <header class="header">
                        <h2>#{bundle.incomingEventsLabel}</h2>
                        <p><span class="icon-arrow-left"></span>#{bundle.month}<span class="icon-arrow-right"></span></p>
                    </header>
                    <article class="days">
                        <ul>
                            <li class="previous">30</li>
                            <li class="previous">31</li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                            <li>31</li>
                            <li class="next">1</li>
                            <li class="next">2</li>
                        </ul>
                    </article>
                </section>

                <h:form dir="#{langBean.location}">
                    <h:commandButton value="Ø¹Ø±Ø¨Ù‰"  immediate="true" action="#{langBean.changeLang('ar')}" class="btn btn-primary btn-large btn-block " ></h:commandButton>
                    <h:commandButton value="English" immediate="true" action="#{langBean.changeLang('en')}" class="btn btn-primary btn-large btn-block "></h:commandButton>
                </h:form>
            </div>
            <h:outputScript>
                $(document).ready(function(){
                $("#addBtn").click(function(){
                $("#eventName").val(" ");
                $("#descId").val(" ");
                    $("#eventType").val($("#eventType option:first").val());
                    $("#placeID").val($("#placeID option:first").val());
                });
                });


            </h:outputScript>
        </ui:composition>

    </body>
</html>
