<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        >
    <head>
        <title>Menu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition>
            <h:outputStylesheet library="font-awesome/css" name="font-awesome.min.css"/>
            <h:form dir="#{langBean.location}">
                <nav class="box nav">
                    <ul>
                        <li>
                            <h:commandLink  action="#{userdata.setHomePageSelected}" styleClass="menuItem #{userdata.homePageSelected ? 'selected_menu_item' : ''}" style="color:#{userdata.homePageSelected ? '#992416' : '#dd5555'  };">
                            <span class="icon-home" style="font-size: 30px;color:inherit" ></span><br/>
                            <span class="title" style="color:inherit">#{bundle.Home}</span>
                            </h:commandLink>
                        </li>
                        <li>
                            <h:commandLink  action="#{userdata.setWishListPageSelected}" styleClass="menuItem #{userdata.wishListPageSelected ? 'selected_menu_item' : ''}" style="color:#{userdata.wishListPageSelected ? '#992416' : '#dd5555'  };">
                                <span class="fa fa-gift " style="font-size: 30px;color:inherit;" ></span><br/>
                                <span class="title" style="color:inherit;">#{bundle.wishList}</span>
                            </h:commandLink> 
                        </li>
                        <li>
                            <h:commandLink  action="#{userdata.setEventsPageSelected}" styleClass="menuItem #{userdata.eventsPageSelected ? 'selected_menu_item' : ''}" style="color:#{userdata.eventsPageSelected ? '#992416' : '#dd5555'  };">
                                <span class="fa fa-newspaper-o"  style="font-size: 30px; color:inherit;"></span><br/>
                                <span class="title" style=" color:inherit;">#{bundle.events}</span>
                            </h:commandLink> 
                        </li>
                        <li>
                            <h:commandLink  action="#{userdata.setFriendsPageSelected}" styleClass="menuItem #{userdata.friendsPageSelected ? 'selected_menu_item' : ''}" style="color:#{userdata.friendsPageSelected ? '#992416' : '#dd5555'  };">
                                <span class="fa fa-users" style="font-size: 30px; color:inherit;"></span><br/>
                                <span class="title" style="color:inherit;">#{bundle.friends}</span>
                            </h:commandLink> 
                        </li>
                        <li>
                            <h:commandLink  action="#{loginBean.logout()}" style="color: #dd5555;" styleClass="menuItem ">
                                <span class="fa fa-sign-out" style="font-size: 30px ;color:inherit;"></span><br/>
                                <span class="title" style="color:inherit;">#{bundle.logout}</span>
                            </h:commandLink>
                        </li>
                    </ul>
                </nav>

                <h:outputScript>
                    $(document).ready(function () {
                        $('.menuItem').hover(
                                function () {
                                    if (!$(this).hasClass("selected_menu_item")) {
                                        $(this).css("color", "#992416");
                                    }
                                },
                                function () {
                                    if (!$(this).hasClass("selected_menu_item")) {
                                        $(this).css("color", "#dd5555");
                                    }
                                }
                        )
                    });
                </h:outputScript>
            </h:form>
        </ui:composition>
    </body>
</html>
