<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:c="http://java.sun.com/jsp/jstl/core">
    <head>
        <title>Menu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition>
            <h:outputStylesheet library="font-awesome/css" name="font-awesome.min.css"/>
            <h:form dir="#{langBean.location}">
                <nav class="box nav">
                    <ul>

                        <c:if test="#{user.admin}">
                            <li>
                                <h:commandLink  action="adminPanel">
                                    <span class="fa fa-cogs" style="font-size: 30px"></span><br/>
                                    <span class="title">Admin Panel</span>
                                </h:commandLink>
                            </li>

                        </c:if>
                        <c:if test="#{not user.admin}">
                            <li>
                                <h:commandLink  action="storeOwnerHome">
                                    <span class="fa fa-users" style="font-size: 30px"></span><br/>
                                    <span class="title">#{bundle.Home}</span>
                                </h:commandLink>
                            </li>
                            <li>
                                <h:commandLink  action="storeOwnerAddProduct">
                                    <span class="fa fa-users" style="font-size: 30px"></span><br/>
                                    <span class="title">#{bundle.storeOwnerAddProduct}</span>
                                </h:commandLink>
                            </li>
                        </c:if>
                        <li>
                            <h:commandLink  action="#{loginBean.logout()}">
                                <span class="fa fa-sign-out" style="font-size: 30px"></span><br/>
                                <span class="title">#{bundle.logout}</span>
                            </h:commandLink> 
                        </li>
                    </ul>
                </nav>
            </h:form>
        </ui:composition>
    </body>
</html>
