<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
        >
    <head>
        <title>Header</title>
        <link rel="shortcut icon" type="image/x-icon" href="#{resource['img/favicon.ico']}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition>
            <!-- Add Product Modal -->
            <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLable" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="#{bundle.Close}">
                                <span aria-hidden="true">X</span></button>
                            <h4 class="modal-title" id="addProductModalLable">#{bundle.addWishLabel}</h4>
                        </div>
                        <div class="modal-body" style="overflow: hidden;">
                            <h:form id="productsForm" dir="#{langBean.location}">

                                <div style="clear: both">
                                    <p:messages for="wishListMessages" showDetail="true" autoUpdate="true" closable="true" />
                                </div>
                            </h:form>
                        </div>
                         <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">#{bundle.Close}</button>
                        <button type="button" class="btn btn-primary">#{bundle.storeOwnerSaveChanges}</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="grid_3">
                <section class="box widget locations">
                    <div class="avatar">
                        <f:subview id="def#{user.id}" rendered="#{user.picture eq null}">
                            <h:graphicImage library="img"  name="profile.jpg" />
                        </f:subview>

                        <f:subview id="img#{user.id}" rendered="#{user.picture ne null}">
                            <h:graphicImage value="#{imageUtil.getImageSrc(user.picture)}"/>
                        </f:subview>
                    </div>
                    <div class="details">
                        <h2>#{user.name}</h2>
                        <p>#{user.email}</p>
                        <h:form dir="#{langBean.location}">
                            <h:commandLink action="storeOwnerProfile" class="btn btn-primary btn-block btn-large">#{bundle.viewProfile}</h:commandLink>
                        </h:form>
                    </div>
                </section>

                <section class="box widget calendar">

                </section>

                <h:form dir="#{langBean.location}">
                    <h:commandButton value="عربى"  immediate="true" action="#{langBean.changeLang('ar')}" class="btn btn-primary btn-large btn-block " ></h:commandButton>
                    <h:commandButton value="English" immediate="true" action="#{langBean.changeLang('en')}" class="btn btn-primary btn-large btn-block "></h:commandButton>
                </h:form>
            </div>
        </ui:composition>
    </body>
</html>
