<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="UTF-8"/>
        <meta name="google" value="notranslate"/>
        <title><ui:insert name="title"></ui:insert></title>

        <script>
            window.console = window.console || function (t) {
            };
            window.open = function () {
                console.log("window.open is disabled.");
            };
            window.print = function () {
                console.log("window.print is disabled.");
            };
        </script>

        <!--<h:outputStylesheet library="css" name="jquery_ui_style.css"/>-->

        <h:outputStylesheet library="css" name="normalize.css"/>
        <h:outputStylesheet library="css" name="grid.css"/>
        <h:outputStylesheet library="css" name="css.css"/>
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <h:outputStylesheet library="css" name="icomoon-scrtpxls.css"/>
        <h:outputStylesheet library="css" name="style_new.css"/>
        <h:outputStylesheet library="css" name="toastr8.min.css"/>
        <h:outputStylesheet library="fonts" name="font-awesome.min.css"/>



        <h:outputScript library="js" name="prefixfree.js"/>


    </h:head>

    <h:body>
        <f:loadBundle basename="bundle" var="lang"/>

        <div class="container" style="margin-left: 15%;">

            <ui:include src="header.xhtml"/>
            <div class="grid_8">
                <ui:include src="menu.xhtml"/>

                <div class="inner_container">
                    <ui:insert name="content">

                    </ui:insert>
                </div>
                <c:set var="product" value="#{products.randomProduct}"/>
                <c:if test="#{not empty product}">
                    <section class="box widget audio">
                        <div class="image" >
                            <h:graphicImage value="#{imageUtil.getImageSrc(product.image)}" />
                        </div>
                        <div class="details hideOverFlow height112 paddingBottom10">
                            <p>Promotion</p>
                            <h2 class="album">#{product.name}</h2>
                        </div>
                    </section> 
                </c:if>
            </div>


        </div>


        <script>
            if (document.location.search.match(/type=embed/gi)) {
                window.parent.postMessage("resize", "*");
            }
        </script>

        <!--<h:outputScript library="js" name="jquery-1.11.2.min.js" />-->
        <!--<h:outputScript library="js" name="jquery-ui.js" />-->

        <h:outputScript library="js" name="bootstrap.min.js" />
        <!--<h:outputScript library="js" name="notify.js"/>-->
        <h:outputScript library="js" name="toastr8.min.js"/>
        <h:outputScript library="js" name="websocket.js"/>

        <script type="text/javascript">
            initialize(#{user.facebookUserId});
        </script>


    </h:body>
</html>