<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PlaceCreateDlg" widgetVar="PlaceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePlaceTitle}">
            <h:form id="PlaceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{placeController.selected != null}">

                        <p:outputLabel value="#{bundle.CreatePlaceLabel_name}" for="name" />
                        <p:inputText  id="name" value="#{placeController.selected.name}" title="#{bundle.CreatePlaceTitle_name}" required="true" requiredMessage="#{bundle.CreatePlaceRequiredMessage_name}" validatorMessage="#{bundle.CreatePlaceValidationMessage_name}">
                            <f:validateLength maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.CreatePlaceLabel_description}" for="description" />
                        <p:inputTextarea cols="50" rows="10"  id="description" value="#{placeController.selected.description}" title="#{bundle.CreatePlaceTitle_description}" validatorMessage="#{bundle.CreatePlaceValidationMessage_description}">
                            <f:validateLength maximum="500"/>
                        </p:inputTextarea>
                        <p:outputLabel value="#{bundle.CreatePlaceLabel_address}" for="address" />
                        <p:inputText  id="address" value="#{placeController.selected.address}" title="#{bundle.CreatePlaceTitle_address}" required="true" requiredMessage="#{bundle.CreatePlaceRequiredMessage_address}" validatorMessage="#{bundle.CreatePlaceValidationMessage_address}">
                            <f:validateLength maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.CreatePlaceLabel_telNo}" for="telNo" />
                        <p:inputText  id="telNo" value="#{placeController.selected.telNo}" title="#{bundle.CreatePlaceTitle_telNo}" validatorMessage="#{bundle.CreatePlaceValidationMessage_telNo}" >
                            <f:validateLength maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.CreatePlaceLabel_webSite}" for="webSite" />
                        <p:inputText id="webSite" value="#{placeController.selected.webSite}" title="#{bundle.CreatePlaceTitle_webSite}" validatorMessage="#{bundle.CreatePlaceValidationMessage_webSite}">
                            <f:validateLength maximum="50"/>
                        </p:inputText>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{placeController.create}" value="#{bundle.Save}" update="display,:PlaceListForm:datalist,:growl" oncomplete="handleSubmit(args,'PlaceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PlaceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
