<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PlaceEditDlg" widgetVar="PlaceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPlaceTitle}">
            <h:form id="PlaceEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{placeController.selected != null}">

                        <p:outputLabel value="#{bundle.EditPlaceLabel_name}" for="name" />
                        <p:inputText id="name" value="#{placeController.selected.name}" title="#{bundle.EditPlaceTitle_name}" required="true" requiredMessage="#{bundle.EditPlaceRequiredMessage_name}" validatorMessage="#{bundle.EditPlaceValidationMessage_name}">
                            <f:validateLength maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditPlaceLabel_description}" for="description" />
                        <p:inputTextarea cols="50" rows="10" id="description" value="#{placeController.selected.description}" title="#{bundle.EditPlaceTitle_description}" validatorMessage="#{bundle.EditPlaceRequiredMessage_description}">
                            <f:validateLength maximum="500"/>
                        </p:inputTextarea>
                        <p:outputLabel value="#{bundle.EditPlaceLabel_address}" for="address" />
                        <p:inputText id="address" value="#{placeController.selected.address}" title="#{bundle.EditPlaceTitle_address}" required="true" requiredMessage="#{bundle.EditPlaceRequiredMessage_address}" validatorMessage="#{bundle.EditPlaceValidationMessage_address}">
                            <f:validateLength maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditPlaceLabel_telNo}" for="telNo" />
                        <p:inputText id="telNo" value="#{placeController.selected.telNo}" title="#{bundle.EditPlaceTitle_telNo}" validatorMessage="#{bundle.EditPlaceValidationMessage_telNo}">
                            <f:validateLength maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditPlaceLabel_webSite}" for="webSite" />
                        <p:inputText id="webSite" value="#{placeController.selected.webSite}" title="#{bundle.EditPlaceTitle_webSite}" validatorMessage="#{bundle.EditPlaceValidationMessage_webSite}">
                            <f:validateLength maximum="50"/>
                        </p:inputText>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{placeController.update}" value="#{bundle.Save}" update="display,:PlaceListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PlaceEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PlaceEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
