<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PlaceViewDlg" widgetVar="PlaceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPlaceTitle}">
            <h:form id="PlaceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{placeController.selected != null}">
                        <h:outputText value="#{bundle.ViewPlaceLabel_id}"/>
                        <h:outputText value="#{placeController.selected.id}" title="#{bundle.ViewPlaceTitle_id}"/>
                        <h:outputText value="#{bundle.ViewPlaceLabel_name}"/>
                        <h:outputText value="#{placeController.selected.name}" title="#{bundle.ViewPlaceTitle_name}"/>
                        <h:outputText value="#{bundle.ViewPlaceLabel_description}"/>
                        <h:outputText value="#{placeController.selected.description}" title="#{bundle.ViewPlaceTitle_description}"/>
                        <h:outputText value="#{bundle.ViewPlaceLabel_address}"/>
                        <h:outputText value="#{placeController.selected.address}" title="#{bundle.ViewPlaceTitle_address}"/>
                        <h:outputText value="#{bundle.ViewPlaceLabel_telNo}"/>
                        <h:outputText value="#{placeController.selected.telNo}" title="#{bundle.ViewPlaceTitle_telNo}"/>
                        <h:outputText value="#{bundle.ViewPlaceLabel_webSite}"/>
                        <h:outputText value="#{placeController.selected.webSite}" title="#{bundle.ViewPlaceTitle_webSite}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PlaceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
