<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui" xml:lang="en" lang="en">
    <h:head>
        <title>CRUD Template</title>

        <!-- Bootstrap -->
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </h:head>
    <h:body>
        <p><br/></p>
        <div class="container">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" >
                <li class="active"  id="manipulateProductTab"><a href="#daftar" data-toggle="tab">Manipulate Old Products</a></li>
                <li id="addProductTab" ><a href="#tambah" data-toggle="tab">Add New Product</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="daftar">
                    <br/>
                    <p><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Tambah Data</button></p>
                    <br/>
                    <div class="table-responsive">
                        <h:form prependId="false" dir="#{langBean.location}">
                            <h:dataTable id="productsTableView" value="#{storeOwnerProductBean.productDTODataModel}"  styleClass="table table-hover" var="product" >

                                <h:column>
                                    <f:facet name="header" >#{bundle.storeOwner_productImageLabel}</f:facet>
                                    <h:graphicImage value="#{imageUtil.getImageSrc(product.image)}" width="94px" height="94px" styleClass="click circleImage" />
                                </h:column>

                                <h:column>
                                    <f:facet name="header" >#{bundle.storeOwner_productNameLabel}</f:facet>
                                        #{product.name}
                                </h:column>
                                <h:column>
                                    <f:facet name="header" >#{bundle.storeOwner_productDescriptionLabel}</f:facet>
                                        #{product.description}
                                </h:column>
                                <h:column>
                                    <f:facet name="header" >#{bundle.storeOwner_productPriceLabel}</f:facet>
                                        #{product.price}
                                </h:column>

                                <h:column>
                                    <f:facet name="header" >#{bundle.Edit}</f:facet>
                                    <h:commandLink value="edit" action="#{storeOwnerProductBean.editProduct()}" styleClass="glyphicon glyphicon-edit"/>
                                    <span class="glyphicon glyphicon-edit"></span>
                                </h:column>
                                <h:column>
                                    <f:facet name="header" >#{bundle.Delete}</f:facet>
                                    <h:commandLink value="delete" action="#{storeOwnerProductBean.deleteProduct()}" styleClass="glyphicon glyphicon-edit" />
                                    <span class="glyphicon glyphicon-trash"></span>
                                </h:column>

                            </h:dataTable>
                        </h:form>
                    </div>
                    <ul class="pagination">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
                <div class="tab-pane" id="tambah">
                    <br/>
                    <!--<div class="alert alert-success">Berhasil <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>-->
                    <!--<div class="alert alert-warning">Ada sedikit masalah <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>-->
                    <!--<div class="alert alert-danger">Error, coba lagi <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button></div>-->
                    <br/>
                    <h:form prependId="false" enctype="multipart/form-data" dir="#{langBean.location}">
                        <h:panelGroup class="form-group">
                            <label for="productNameTextBox">#{bundle.storeOwner_productNameLabel}</label>
                            <p:inputText styleClass="form-control" id="productNameTextBox"
                                         placeholder="#{bundle.storeOwner_productNameTextBoxPlaceHolder}"
                                         value="#{storeOwnerProductBean.productDTO.name}"
                                         maxlength="45" required="true" 
                                         requiredMessage="#{bundle.storeOwnerRequiredMessage_productName}" converterMessage="#{bundle.storeOwnerConverterMessage_productName}" validatorMessage="#{bundle.storeOwnerValidationMessage_productName}">
                                <f:ajax execute="@form" render="@form"/>
                            </p:inputText>
                            <h:message for="productNameTextBox" style="color: #ff0000;"/>
                        </h:panelGroup>
                        
                        <h:panelGroup class="form-group">
                            <label for="productPriceTextBox">#{bundle.storeOwner_productPriceLabel}</label>
                            <br/>
                            <p:spinner id="productPriceTextBox" styleClass="numberOnly"
                                       maxlength="11" required="true" 
                                       requiredMessage="#{bundle.storeOwnerRequiredMessage_productPrice}" converterMessage="#{bundle.storeOwnerConverterMessage_productPrice}" validatorMessage="#{bundle.storeOwnerValidationMessage_productPrice}"
                                       value="#{storeOwnerProductBean.productDTO.price}" >
                                    <f:ajax execute="@form" render="@form"/>
                            </p:spinner>
                            <h:message for="productPriceTextBox" style="color: #ff0000;"/>
                        </h:panelGroup>
                        <br/>
                        
                        <h:panelGroup class="form-group">
                            <label for="productDescTextBox">#{bundle.storeOwner_productDescriptionLabel}</label>
                            <p:inputTextarea value="#{storeOwnerProductBean.productDTO.description}"  
                                             rows="9" cols="4" maxlength="300" autoResize="false" styleClass="form-control" 
                                             id="productDescTextBox"  placeholder="#{bundle.storeOwner_productDescriptionTextBoxPlaceHolder}" required="true" style="height: 87px"
                                             requiredMessage="#{bundle.storeOwnerRequiredMessage_productDescription}" converterMessage="#{bundle.storeOwnerConverterMessage_productDescription}" validatorMessage="#{bundle.storeOwnerValidationMessage_productDescription}">
                                <f:ajax execute="@form" render="@form"/>
                            </p:inputTextarea>
                            <h:message for="productDescTextBox" style="color: #ff0000;"/>
                        </h:panelGroup>
                        <br/>
                        
                        <h:panelGroup class="form-group">
                            <label for="selectitems">#{bundle.storeOwner_selectCategoryLabel} &nbsp;&nbsp;&nbsp;</label>
                             <h:selectOneMenu id="selectitems" value="#{storeOwnerProductBean.selectedCategory}" converter="omnifaces.SelectItemsConverter">
                                <f:selectItem itemLabel="#{bundle.storeOwner_categoryChooseItemLabel}" noSelectionOption="true" />
                                <f:selectItems value="#{storeOwnerProductBean.categories}" var="entity" itemLabel="#{entity.name}" itemValue="#{entity}"/>
                                <f:ajax render="selected_cate"/>
                             </h:selectOneMenu>

<!--                            <h:selectOneMenu id="InputCategory" value="#{storeOwnerProductBean.selectedCategory}" converter="omnifaces.SelectItemsConverter" required="true" requiredMessage="You must select a category">
                                <f:selectItem itemLabel="Choose category" noSelectionOption="true" />
                                <f:selectItems value="#{storeOwnerProductBean.categories}" var="cat" itemValue="#{cat}" itemLabel="#{cat.name}" />
                            </h:selectOneMenu>-->
                            <br/>
                            <h:message for="selectitems" style="color: #ff0000;"/>
                            <h:outputLabel value="#{storeOwnerProductBean.selectedCategory.name}" id="selected_cate"/>
                        </h:panelGroup>
                        <br/>
                            
                        <h:panelGroup class="form-group">
                            <label for="InputCompany">#{bundle.storeOwner_selectCompanyLabel} &nbsp;&nbsp;&nbsp;</label>
                            <h:selectOneMenu id="InputCompany" value="#{storeOwnerProductBean.selectedCompany}" converter="omnifaces.SelectItemsConverter" required="true"  requiredMessage="#{bundle.storeOwnerRequiredMessage_selectCompany}">
                                <f:selectItem itemLabel="#{bundle.storeOwner_companyChooseItemLabel}" noSelectionOption="true" />
                                <f:selectItems value="#{storeOwnerProductBean.companies}" var="comp" itemValue="#{comp}" itemLabel="#{comp.name}" />
                                <f:ajax render="selected_Cat"/>
                            </h:selectOneMenu>
                            <br/>
                            <h:message for="InputCompany" style="color: #ff0000;"/>
                            <h:outputLabel value="#{storeOwnerProductBean.selectedCompany.name}" id="selected_Cat"/>
                        </h:panelGroup>
                        <br/>
                        
                        <div class="form-group" style="display: none;">
                            <p:growl id="messages" showDetail="true" />
                            <p:fileUpload value="#{storeOwnerProductBean.file}" mode="simple" skinSimple="true"  id="AddProdFileUpload" onchange="encodeImageFileAsURL()" onclick="return true;"/>
                        </div>

                        <h:outputLabel>#{bundle.storeOwner_productImageLabel} </h:outputLabel>
                        <h:outputLabel for="AddProdFileUpload" id="prodImage">
                            <c:if test="#{not empty storeOwnerProductBean.file}">
                                <h:graphicImage  value="" style="border-radius: 47px; cursor: pointer;" width="94px" height="94px"/>
                            </c:if>
                            <c:if test="#{empty storeOwnerProductBean.file}">
                                <h:graphicImage library="images" name="catImage.jpg" width="94px" height="94px" style="border-radius: 47px; cursor: pointer;" />
                            </c:if>
                        </h:outputLabel>
                        
<!--                        <div class="form-group">
                            <label for="exampleInputEmail1">Product Name</label>
                            <h:inputText styleClass="form-control" id="exampleInputEmail1" placeholder="Enter email" value="#{storeOwnerProductBean.productDTO.name}" maxlength="45" required="true" requiredMessage="Product Name Is Required" converterMessage="Invalid Value" validatorMessage="Invalid Value">
                                <f:ajax execute="@form" render="@all"/>
                            </h:inputText>
                            <h:message for="exampleInputEmail1" style="color: #ff0000;"/>
                        </div>


                        <div class="form-group">
                            <label for="exampleInputPassword1">Product Price</label>
                            <h:inputText styleClass="form-control numberOnly" id="exampleInputPassword1" 
placeholder="Price" value="#{storeOwnerProductBean.productDTO.price}" maxlength="11" required="true" 
requiredMessage="Product Price Is Required" converterMessage="Invalid Value" validatorMessage="Invalid Value"/>
                            <h:message for="exampleInputPassword1" style="color: #ff0000;"/>
                        </div>


                        <div class="form-group">
                            <label for="exampleInputtxt1">Product Description</label>
                            <p:inputTextarea value="#{storeOwnerProductBean.productDTO.description}"  rows="9" cols="4" maxlength="300" autoResize="false" styleClass="form-control" id="exampleInputtxt1"  placeholder="Text" required="true" style="height: 87px" requiredMessage="Product Description Is Required" converterMessage="Invalid Value" validatorMessage="Invalid Value"/>
                            <h:message for="exampleInputtxt1" style="color: #ff0000;"/>
                        </div>-->
                        
<!--                        <div class="form-group">
                            <label for="InputCategory">Select Category: &nbsp;&nbsp;&nbsp;</label>

                            <h:selectOneMenu id="InputCategory" value="#{storeOwnerProductBean.selectedCategory}" converter="omnifaces.SelectItemsConverter" required="true" requiredMessage="You must select a category">
                                <f:selectItem itemLabel="Choose category" noSelectionOption="true" />
                                <f:selectItems value="#{storeOwnerProductBean.categories}" var="cat" itemValue="#{cat}" itemLabel="#{cat.name}" />
                                <f:ajax render="selected_item" />
                            </h:selectOneMenu>
                            <br/>
                            <h:message for="InputCategory" style="color: #ff0000;"/>

                        <h:selectOneMenu id="InputCategory" value="#{storeOwnerProductBean.selectedCategory}" converter="categoryConverter">
                        <f:selectItems value="#{storeOwnerProductBean.categories}" var="cat" itemValue="#{cat.id}" itemLabel="#{cat.name}" />
                            </h:selectOneMenu>
                            <h:outputLabel value="#{storeOwnerProductBean.selectedCategory.name}" id="selected_item"/>
                        </div>-->


<!--                        <div class="form-group">
                            <label for="InputCompany">Select Company: &nbsp;&nbsp;</label>

                            <h:selectOneMenu id="InputCompany" value="#{storeOwnerProductBean.selectedCompany}" converter="omnifaces.SelectItemsConverter" required="true"  requiredMessage="You must select a company">
                                <f:selectItem itemLabel="Choose company" noSelectionOption="true" />
                                <f:selectItems value="#{storeOwnerProductBean.companies}" var="comp" itemValue="#{comp}" itemLabel="#{comp.name}" />
                                <f:ajax render="selected_Cat" />
                            </h:selectOneMenu>
                            <br/>
                            <h:message for="InputCompany" style="color: #ff0000;"/>

                        <h:selectOneMenu id="InputCompany" value="#{storeOwnerProductBean.selectedCompany}">
                        <c:forEach items="#{storeOwnerProductBean.companies}" var="comp">
                        <f:selectItem itemValue="#{comp.id}" itemLabel="#{comp.name}" />
                            </c:forEach>
                            </h:selectOneMenu>
                            <h:outputLabel value="#{storeOwnerProductBean.selectedCompany.name}" id="selected_Cat"/>
                        </div>-->

<!--                        <div class="form-group" style="display: none;">
                            <p:growl id="messages" showDetail="true" />
                            <p:fileUpload value="#{storeOwnerProductBean.file}" mode="simple" skinSimple="true"  id="AddProdFileUpload" onchange="encodeImageFileAsURL()" onclick="return true;"/>
                        </div>

                        <h:outputLabel>Product Image :</h:outputLabel>
                        <h:outputLabel for="AddProdFileUpload" id="prodImage">
                            <c:if test="#{not empty storeOwnerProductBean.file}">
                                <h:graphicImage  value="" style="border-radius: 47px; cursor: pointer;" width="94px" height="94px"/>
                            </c:if>
                            <c:if test="#{empty storeOwnerProductBean.file}">
                                <h:graphicImage library="images" name="catImage.jpg" width="94px" height="94px" style="border-radius: 47px; cursor: pointer;" />
                            </c:if>
                        </h:outputLabel>-->


                        <h:outputScript>
                            document.getElementById("prodImage").setAttribute("for", "AddProdFileUpload");
                            document.getElementById("productPriceTextBox").value="";

                            document.getElementById("addProductTab").className = "active";
                            document.getElementById("addProductTab").firstChild.setAttribute("aria-expanded", "true");
                            document.getElementById("tambah").className += " active";


                            document.getElementById("manipulateProductTab").className = "";
                            document.getElementById("manipulateProductTab").firstChild.setAttribute("aria-expanded", "false");
                            document.getElementById("daftar").className= "tab-pane";

                        </h:outputScript>
                        <!--<div class="form-group" >-->
                        <!--<label for="exampleInputFile">Product Image</label>-->
                        <!--<h:inputFile id="exampleInputFile" value="#{storeOwnerProductBean.productDTO.image}"/>-->
                        <!--<p class="help-block">upload an image for the product.</p>-->
                        <!--</div>-->

                        <h:commandButton styleClass="btn btn-primary"  value="#{bundle.Submit}" action="#{storeOwnerProductBean.addProduct()}" style="clear: both; display: block;">
                            <f:ajax render="@all" execute="@all"/>
                        </h:commandButton>
                    </h:form>
                    <br/>
                </div>
            </div>
        </div>


        <!--&lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins) &ndash;&gt;-->
        <!--<h:outputScript library="js" name="jquery.js"/>-->

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <h:outputScript library="js" name="bootstrap.min.js"/>

        <h:outputScript>
            document.getElementById("AddProdFileUpload").addEventListener("change", encodeImageFileAsURL);

            function encodeImageFileAsURL() {
            var filesSelected = document.getElementById("AddProdFileUpload").files;
            if (filesSelected.length > 0)
            {
            var fileToLoad = filesSelected[0];
            var fileReader = new FileReader();
            fileReader.onload = function(fileLoadedEvent) {
            var srcData = fileLoadedEvent.target.result; // data: base64
            if(srcData.length > 38000000){
            alert("image should be lower than 35 MB");
            }else{
            document.getElementById("prodImage").firstElementChild.src =srcData;
            }
            };
            fileReader.readAsDataURL(fileToLoad);
            }
            }

            function checkExist(){
            return true;
            }




            //$('input.numberOnly').keyup(AllowOnlyNumber).blur(AllowOnlyNumber);
            function AllowOnlyNumber(e)
            {
            if(!e.ctrlKey){
            if((e.which != 17)){
            var v = $(this).val();

            var lastChar = v.substr(v.length - 1);

            var no_nonnumerals;
            no_nonnumerals = v.replace(/[^0-9.]/g, '');

            if(lastChar == '.'){
            no_nonnumerals = v.substr(0, v.length-1);
            if(no_nonnumerals.indexOf(lastChar) !== -1){
            no_nonnumerals = v.substring(0, v.length-1);
            }else{
            no_nonnumerals = v;
            }
            }

            $(this).val(no_nonnumerals);
            }
            }
            }
        </h:outputScript>
    </h:body>
</html>