<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<body>
<ui:composition template="/template/template.xhtml">
<ui:define name="currentContent">
    <h:form prependId="false" enctype="multipart/form-data" dir="#{langBean.location}">
        <h:panelGroup layout="block" class="form-group">
            <label for="exampleInputEmail1">#{bundle.storeOwner_productNameLabel}</label>
            <h:inputText styleClass="form-control" id="exampleInputEmail1" placeholder="Enter email" value="#{StoreOwnerData.productDTO.name}"/>
        </h:panelGroup>
        <h:panelGroup layout="block" class="form-group">
            <label for="exampleInputPassword1">#{bundle.storeOwner_productPriceLabel}</label>
            <h:inputText styleClass="form-control" id="exampleInputPassword1" placeholder="Price" value="#{StoreOwnerData.productDTO.price}"/>
        </h:panelGroup>
        <h:panelGroup layout="block" class="form-group">
            <label for="exampleInputtxt1">#{bundle.storeOwner_productDescriptionLabel}</label>
            <h:inputTextarea styleClass="form-control" id="exampleInputtxt1" placeholder="Text" value="#{StoreOwnerData.productDTO.description}"/>
        </h:panelGroup>
        <h:panelGroup layout="block" class="form-group">
            <label for="InputCategory">#{bundle.storeOwner_selectCategoryLabel} &nbsp;&nbsp;&nbsp;</label>
            <h:selectOneMenu id="InputCategory" value="#{StoreOwnerData.selectedCategory}" converter="omnifaces.SelectItemsConverter">
                <f:selectItem itemLabel="#{bundle.storeOwner_categoryCategoryLabel} " noSelectionOption="true" />
                <f:selectItems value="#{StoreOwnerData.categories}" var="cat" itemValue="#{cat}" itemLabel="#{cat.name}" />
                <f:ajax render="selected_item" />
            </h:selectOneMenu>
            <!--<h:selectOneMenu id="InputCategory" value="#{StoreOwnerData.selectedCategory}" converter="categoryConverter">-->
            <!--<f:selectItems value="#{StoreOwnerData.categories}" var="cat" itemValue="#{cat.id}" itemLabel="#{cat.name}" />-->
            <!--</h:selectOneMenu>-->
            <h:outputLabel value="#{StoreOwnerData.selectedCategory.name}" id="selected_item"/>
        </h:panelGroup>
        <h:panelGroup layout="block" class="form-group">
            <label for="InputCompany">#{bundle.storeOwner_selectCompanyLabel} &nbsp;&nbsp;</label>
            <h:selectOneMenu id="InputCompany" value="#{StoreOwnerData.selectedCompany}" converter="omnifaces.SelectItemsConverter">
                <f:selectItem itemLabel="#{bundle.storeOwner_companyChooseItemLabel}" noSelectionOption="true" />
                <f:selectItems value="#{StoreOwnerData.companies}" var="comp" itemValue="#{comp}" itemLabel="#{comp.name}" />
                <f:ajax render="selected_Cat" />
            </h:selectOneMenu>
            <!--<h:selectOneMenu id="InputCompany" value="#{StoreOwnerData.selectedCompany}">-->
            <!--<c:forEach items="#{StoreOwnerData.companies}" var="comp">-->
            <!--<f:selectItem itemValue="#{comp.id}" itemLabel="#{comp.name}" />-->
            <!--</c:forEach>-->
            <!--</h:selectOneMenu>-->
            <h:outputLabel value="#{StoreOwnerData.selectedCompany.name}" id="selected_Cat"/>
        </h:panelGroup>
        <!--<h:panelGroup layout="block" class="form-group" >-->
        <!--<label for="exampleInputFile">Product Image</label>-->
        <!--<h:inputFile id="exampleInputFile" value="#{StoreOwnerData.productDTO.image}" converter="">-->
        <!--<f:ajax render="aaa"/>-->
        <!--</h:inputFile>-->
        <!--<p class="help-block">upload an image for the product.</p>-->
        <!--<h:outputLabel id="aaa" value="#{StoreOwnerData.productDTO.image}"/>-->
        <!--</h:panelGroup>-->
        <h:commandButton type="submit" styleClass="btn btn-primary" value="#{bundle.Submit}" action="#{storeOwnerProductBean.editProduct}"/>
    </h:form>
</ui:define>
</ui:composition>
</body>
</html>
