<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xml:lang="en" lang="en">
<h:head>
    <title>CRUD Template</title>
    <!-- Bootstrap -->
    <h:outputStylesheet library="css" name="bootstrap.min.css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</h:head>
<h:body>
    <ui:composition template="/template/template.xhtml">
    <ui:define name="currentContent">

<h:panelGroup layout="block" class="container">

    <!-- Tab panes -->
    <h:panelGroup layout="block" class="tab-content">
        <h:panelGroup layout="block" class="tab-pane active" id="daftar">
            <h:panelGroup layout="block" class="table-responsive">
            <h:form dir="#{langBean.location}">
                <p:dataGrid id="products" var="product" value="#{storeOwnerProductBean.productDTODataModel}"
                            columns="3" layout="grid"
                            rows="12" paginator="true"
                            paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                            rowsPerPageTemplate="6,12,16">
                    <f:facet name="header">
                        #{bundle.storeOwner_nameLabel} #{storeOwnerLoginBean.user.name} <br/>
                        #{bundle.storeOwner_productList}
                    </f:facet>

                    <p:panel header="#{product.id}" style="text-align:center">
                        <h:panelGrid columns="1" style="width:80%">
                            <h:outputLabel/>
                            <h:graphicImage value="#{imageUtil.getImageSrc(product.image)}" width="150px" height="150px" styleClass="click circleImage" />

                            <h:outputText value="#{product.name}" />

                            <h:outputLabel value="#{product.description}"/>
                            <br/>

                            <h:outputLabel value="#{product.price}"/>
                            <br/>

                            <p:commandButton update="@form:productDetail" oncomplete="PF('productDialog').show()" icon="ui-icon-search" styleClass="ui-btn-inline">
                                <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
                                <f:setPropertyActionListener value="#{product}" target="#{productDataView.selectedProduct}" />
                            </p:commandButton>
                        </h:panelGrid>
                    </p:panel>

                </p:dataGrid>

                <p:dialog header="#{bundle.storeOwner_productDetailTitle}" widgetVar="productDialog" modal="true"  showEffect="fade" hideEffect="fade" resizable="false">
                    <p:outputPanel id="productDetail">
                        <p:panelGrid  columns="2" rendered="#{not empty productDataView.selectedProduct}" styleClass="ui-product-detail">
                            <f:facet name="header">
                                <h:graphicImage value="#{imageUtil.getImageSrc(productDataView.selectedProduct.image)}" width="150px" height="150px" styleClass="click circleImage" />
                            </f:facet>


                            <h:outputLabel for="ajax1" value="#{bundle.storeOwner_productNameLabel}" />
                            <p:inplace id="ajax1" editor="true">
                                <p:inputText value="#{productDataView.selectedProduct.name}" required="true" label="#{bundle.storeOwner_productDescriptionTextBoxPlaceHolder}" />
                            </p:inplace>



                            <h:outputLabel for="ajax2" value="#{bundle.storeOwner_productDescriptionLabel}" />
                            <p:inplace id="ajax2" editor="true">
                                <p:inputText value="#{productDataView.selectedProduct.description}" required="true" label="#{bundle.storeOwner_productDescriptionTextBoxPlaceHolder}" />
                            </p:inplace>


                            <h:outputLabel for="ajax3" value="#{bundle.storeOwner_productPriceLabel}" />
                            <p:inplace id="ajax3" editor="true">
                                <p:inputText value="#{productDataView.selectedProduct.price}" required="true" label="#{bundle.storeOwner_productDescriptionTextBoxPlaceHolder}" />
                            </p:inplace>

                        </p:panelGrid>
                    </p:outputPanel>
                    <p:outputPanel  >

                            <p:commandButton value="#{bundle.Save}" action="#{productDataView.saveProduct()}"  showEffect="fade" hideEffect="explode" update="products" />

                            <p:commandButton value="#{bundle.Delete}" actionListener="#{productDataView.deleteProduct()}" update="products">
                                <p:confirm header="#{bundle.storeOwner_deleteProductConfirmationTitle}" message="#{bundle.storeOwner_deleteProductConfirmationMessage} #{productDataView.selectedProduct.name} #{bundle.questionMark}" icon="ui-icon-alert" />
                            </p:commandButton>

                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                <p:commandButton value="#{bundle.yesButton}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="#{bundle.noButton}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>

                    </p:outputPanel>
                </p:dialog>
            </h:form>

            </h:panelGroup>
    </h:panelGroup>
</h:panelGroup>
</h:panelGroup>

</ui:define>
    </ui:composition>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<h:outputScript library="js" name="jquery.js"/>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<h:outputScript library="js" name="bootstrap.min.js"/>
</h:body>
</html>