<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <head>

    </head>
    <body>
        <ui:composition template="/WEB-INF/template/storeOwnerTemplate.xhtml">
            <ui:define name="title">#{bundle.storeOwner_profileTitle}</ui:define>
            <ui:define name="content">
                <div class="">
                    <article class="box post">
                        <div class="image" style="width: 100%">

                        </div>
                        #{storeOwnerLoginBean.setEditPassword(false)}
                        #{storeOwnerLoginBean.setEditProfile(false)}
                        <h:form dir="#{langBean.location}">
                            <p:messages id="messages" showSummary="true" autoUpdate="true" closable="true" />
                            <!-- edit profile -->
                            <c:if test="#{storeOwnerLoginBean.editProfile}">
                                <div class="details" style="min-height: 500px">
                                    <h2>#{bundle.About}</h2>

                                    <p:commandButton validateClient="true" value="#{bundle.Save}"  styleClass="btn btn-primary" actionListener="#{storeOwnerLoginBean.saveUserProfile}">
                                        <p:confirm header="#{bundle.storeOwnerEditProfile_confirmationMessageTitle}" message="#{bundle.storeOwnerEditProfile_confirmationMessageBody}" icon="ui-icon-alert" />
                                    </p:commandButton>


                                    <p:confirmDialog global="true" modal="true" >
                                        <p:commandButton value="#{bundle.yesButton}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                        <p:commandButton value="#{bundle.noButton}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                    </p:confirmDialog>

                                    <p:commandButton validateClient="false" immediate="true"  value="#{bundle.Cancel}" styleClass="btn btn-default" action="#{storeOwnerLoginBean.setEditProfile(false)}">
                                        <f:ajax render="@form"  immediate="true"/>
                                    </p:commandButton>

                                    <div class="col_2of3">

                                        <h:outputLabel for="name" value="#{bundle.storeOwnerProfile_nameLabel}"/>

                                        <p:inputText id="name" value="#{storeOwnerLoginBean.user.name}" required="true" label="text" styleClass="form-control"/>
                                        <h:message styleClass="label label-danger" for="name"/>


                                        <h:outputLabel for="email" value="#{bundle.storeOwnerProfile_emailLabel}"/>
                                        <p:inputText id="email" value="#{storeOwnerLoginBean.user.email}" type="email" required="true" label="text" styleClass="form-control"
                                                     requiredMessage="#{bundle.storeOwnerProfileRequiredMessage_email}"
                                                     validatorMessage="#{bundle.storeOwnerProfileValidationMessage_email}">
                                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                        </p:inputText>
                                        <h:message styleClass="label label-danger" for="email"/>

                                        <h:outputLabel for="birthday" value="#{bundle.storeOwnerProfile_birthdayLabel}"/>

                                        <p>
                                            <p:calendar id="birthday" value="#{storeOwnerLoginBean.user.birthday}" pattern="dd-MM-yyyy"
                                                        placeholder="ex: 31-12-2015"
                                                        converterMessage="#{bundle.storeOwnerProfileConverterMessage_birthday}" required="true"
                                                        requiredMessage="#{bundle.storeOwnerProfileRequiredMessage_birthday}">
                                            </p:calendar>
                                            <h:message styleClass="label label-danger" for="birthday"/>
                                        </p>

                                        <c:if test="#{not storeOwnerLoginBean.editPassword}">
                                            <p:commandButton validateClient="false" action="#{storeOwnerLoginBean.showEditPassword}" value="#{bundle.storeOwnerProfile_editPassword}" styleClass="btn btn-primary"  >
                                                <f:ajax render="@form" execute="@form" />
                                            </p:commandButton>
                                        </c:if>

                                        <c:if test="#{storeOwnerLoginBean.editPassword}">
                                            <p:commandButton value="#{bundle.storeOwnerProfile_cancelEditPassword}"   validateClient="false" immediate="true"  styleClass="btn btn-default" action="#{storeOwnerLoginBean.setEditPassword(false)}" >
                                                <f:ajax render="@form" immediate="true" />
                                            </p:commandButton>

                                        <p>

                                            <h:outputLabel for="password1" value="#{bundle.storeOwnerProfile_newPassword}"/>
                                            <h:message for="password1" styleClass="label label-danger"/>
                                            <h:inputSecret id="password1" value="#{storeOwnerLoginBean.newPassword1}" required="true" requiredMessage="#{bundle.storeOwnerProfileRequiredMessage_newPassword}" styleClass="form-control" >
                                                <f:validateLength for="password1" minimum="6" maximum="100"  />
                                            </h:inputSecret>

                                        </p>
                                            <p>
                                            <h:outputLabel for="password2" value="#{bundle.storeOwnerProfile_reEnterNewPassword}"/>
                                            <h:message for="password2" styleClass="label label-danger" />
                                            <h:inputSecret id="password2" value="#{storeOwnerLoginBean.newPassword2}" required="true" requiredMessage="#{bundle.storeOwnerProfileRequiredMessage_reEnterNewPassword}" styleClass="form-control" >
                                                <f:validateLength for="password2" minimum="6" maximum="100"  />
                                            </h:inputSecret>
                                        </p>
                                        </c:if>


                                        <br/>
                                    </div>

                                </div>
                            </c:if>

                            <!-- view profile -->

                            <c:if test="#{not storeOwnerLoginBean.editProfile}">
                                <div class="details" style="min-height: 225px">
                                    <h2>#{bundle.About}</h2>


                                    <h:commandButton value="#{bundle.Edit}" immediate="true"  styleClass="btn btn-primary" action="#{storeOwnerLoginBean.editProfile}">
                                        <f:ajax render="@form" execute="@form"/>
                                    </h:commandButton>

                                    <div class="col_2of3">

                                        <h:outputLabel for="nameView" value="#{bundle.storeOwnerProfile_nameLabel}"/><br/>
                                        <h:outputText id="nameView" value="#{storeOwnerLoginBean.user.name}" required="true" label="#{bundle.text}"/>


                                        <br/>
                                        <h:outputLabel for="emailView" value="#{bundle.storeOwnerProfile_emailLabel}"/><br/>
                                        <h:outputText id="emailView" value="#{storeOwnerLoginBean.user.email}" type="email" label="#{bundle.text}"/>


                                        <br/>
                                        <h:outputLabel for="birthdayView" value="#{bundle.storeOwnerProfile_birthdayLabel}"/><br/>
                                        <h:outputText id="birthdayView" value="#{storeOwnerLoginBean.user.birthday}" required="true" label="#{bundle.text}">
                                            <f:convertDateTime pattern="dd-MM-yyyy"/>
                                        </h:outputText>


                                    </div>

                                </div>
                            </c:if>

                        </h:form>


                    </article>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
