<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>

    <ui:composition template="/WEB-INF/template/storeOwnerTemplate.xhtml">
        <ui:define name="title">#{bundle.storeOwner_homeTitle}</ui:define>

        <ui:define name="content">



            <section class="box widget audio" style="height:inherit; padding:20px;">
                <h:form prependId="false" enctype="multipart/form-data" dir="#{langBean.location}">
                    <h:panelGroup class="form-group">
                        <label for="productNameTextBox">#{bundle.storeOwner_productNameLabel}</label>
                        <p:inputText styleClass="form-control" id="productNameTextBox"
                                     placeholder="#{bundle.storeOwner_productNameTextBoxPlaceHolder}"
                                     value="#{storeOwnerProductBean.productDTO.name}"
                                     maxlength="45" required="true"
                                     requiredMessage="#{bundlestoreOwnerRequiredMessage_productName}" converterMessage="#{bundle.storeOwnerConverterMessage_productName}"
                                     validatorMessage="#{bundle.storeOwnerValidationMessage_productName}">
                            <f:ajax execute="productNameTextBox" render="productNameTextBoxMessage"/>
                        </p:inputText>
                        <h:message for="productNameTextBox" id="productNameTextBoxMessage" style="color: #ff0000;"/>
                    </h:panelGroup>

                    <h:panelGroup class="form-group">
                        <label for="productPriceTextBox">#{bundle.storeOwner_productPriceLabel}</label>
                        <br/>
                        <p:spinner id="productPriceTextBox" styleClass="numberOnly"
                                   maxlength="11" required="true"
                                   requiredMessage="#{bundle.storeOwnerRequiredMessage_productPrice}" converterMessage="#{bundle.storeOwnerConverterMessage_productPrice}"
                                   validatorMessage="#{bundle.storeOwnerValidationMessage_productPrice}"
                                   value="#{storeOwnerProductBean.productDTO.price}"
                                   style="padding-right: 20px;">
                            <f:ajax execute="productPriceTextBox" render="productPriceTextBoxMessage"/>
                        </p:spinner>
                        <h:message for="productPriceTextBox" id="productPriceTextBoxMessage" style="color: #ff0000;"/>
                    </h:panelGroup>
                    <br/>

                    <h:panelGroup class="form-group">
                        <label for="productDescTextBox">#{bundle.storeOwner_productDescriptionLabel}</label>
                        <h:message for="productDescTextBox" id="productDescTextBoxMessage" style="color: #ff0000;"/>
                        <p:inputTextarea value="#{storeOwnerProductBean.productDTO.description}"
                                         rows="9" cols="4" maxlength="300" autoResize="false" styleClass="form-control"
                                         id="productDescTextBox" placeholder="#{bundle.storeOwner_productDescriptionTextBoxPlaceHolder}" required="true" style="height: 87px"
                                         requiredMessage="#{bundle.storeOwnerRequiredMessage_productDescription}"
                                         converterMessage="#{bundle.storeOwnerConverterMessage_productDescription}" validatorMessage="#{bundle.storeOwnerValidationMessage_productDescription}">
                            <f:ajax execute="productDescTextBox" render="productDescTextBoxMessage"/>
                        </p:inputTextarea>
                    </h:panelGroup>
                    <br/>

                    <h:panelGroup class="form-group">
                        <label for="selectitems">#{bundle.storeOwner_selectCategoryLabel}  </label>
                        <h:selectOneMenu id="selectitems" value="#{storeOwnerProductBean.selectedCategory}"
                                         converter="omnifaces.SelectItemsConverter">
                            <f:selectItem itemLabel="#{bundle.storeOwner_categoryChooseItemLabel}" noSelectionOption="true"/>
                            <f:selectItems value="#{storeOwnerProductBean.categories}" var="entity"
                                           itemLabel="#{entity.name}" itemValue="#{entity}"/>
                            <f:ajax execute="selectitems" render="selectitemsMessage"/>
                        </h:selectOneMenu>
                        <br/>
                        <h:message for="selectitems" id="selectitemsMessage" style="color: #ff0000;"/>
                    </h:panelGroup>
                    <br/>


                    <h:panelGroup class="form-group">
                        <label for="InputCompany">#{bundle.storeOwner_selectCompanyLabel}  </label>
                        <h:selectOneMenu id="InputCompany" value="#{storeOwnerProductBean.selectedCompany}"
                                         converter="omnifaces.SelectItemsConverter" required="true"
                                         requiredMessage="#{bundle.storeOwnerRequiredMessage_selectCompany}">
                            <f:selectItem itemLabel="#{bundle.storeOwner_companyChooseItemLabel} " noSelectionOption="true"/>
                            <f:selectItems value="#{storeOwnerProductBean.companies}" var="comp" itemValue="#{comp}"
                                           itemLabel="#{comp.name}"/>
                            <f:ajax execute="InputCompany" render="InputCompanyMessage"/>
                        </h:selectOneMenu>
                        <br/>
                        <h:message for="InputCompany" id="InputCompanyMessage" style="color: #ff0000;"/>
                    </h:panelGroup>
                    <br/>

                    <div class="form-group" style="display: none;">
                        <p:growl id="messages" showDetail="true"/>
                        <p:fileUpload value="#{storeOwnerProductBean.file}" mode="simple" skinSimple="true"
                                      id="AddProdFileUpload" onchange="encodeImageFileAsURL()" onclick="return true;">
                        </p:fileUpload>
                    </div>

                    <h:outputLabel>#{bundle.storeOwner_productImageLabel}</h:outputLabel>
                    <h:outputLabel id="prodImage">
                        <i class="fa fa-upload"></i>
                        <c:if test="#{not empty storeOwnerProductBean.file}">
                            <h:outputLabel id="statusOfUploadedFile">#{bundle.storeOwnerUploadImageSuccess}</h:outputLabel>
                        </c:if>
                        <c:if test="#{empty storeOwnerProductBean.file}">
                            <h:outputLabel id="statusOfUploadedFile"></h:outputLabel>
                        </c:if>
                    </h:outputLabel>




                    <h:outputScript>


                        document.getElementById("prodImage").setAttribute("for", "AddProdFileUpload_input");
                        document.getElementById("productPriceTextBox").value = "";

                        document.getElementById("AddProdFileUpload_input").addEventListener("change", encodeImageFileAsURL);

                        function encodeImageFileAsURL() {
                            var filesSelected = document.getElementById("AddProdFileUpload_input").files;
                            if (filesSelected.length > 0)
                            {
                                var fileToLoad = filesSelected[0];
                                var fileReader = new FileReader();
                                fileReader.onload = function(fileLoadedEvent) {
                                    document.getElementById("statusOfUploadedFile").innerHTML="Image Has Been uploaded";
                                };
                                fileReader.readAsDataURL(fileToLoad);
                            }
                        }
                    </h:outputScript>

                    <h:commandButton styleClass="btn btn-primary" value="Submit"
                                     action="#{storeOwnerProductBean.addProduct()}"
                                     style="clear: both; display: block;
                                            margin-left:88%; margin-top:2%;">
                        <f:ajax render="@all" execute="@all"/>
                    </h:commandButton>
                </h:form>
            </section>
            <!--&lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins) &ndash;&gt;-->
            <!--<h:outputScript library="js" name="jquery.js"/>-->

            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <h:outputScript library="js" name="bootstrap.min.js"/>
        </ui:define>
    </ui:composition>
</f:view>
</html>
