<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>

    <ui:composition template="/WEB-INF/template/storeOwnerTemplate.xhtml">
        <ui:define name="title">#{bundle.storeOwner_homeTitle}</ui:define>

        <ui:define name="content">

            <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="wishModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" >
                        <h:form prependId="false" id="randrnyMnFdlk" dir="#{langBean.location}">
                            <div class="modal-body">
                                <h:panelGroup class="form-group" id="editModalBody">
                                    <label for="productNameTextBox">#{bundle.storeOwner_productNameLabel}</label>
                                    <p:inputText styleClass="form-control" id="productNameTextBox"
                                                 placeholder="#{bundle.storeOwner_productNameTextBoxPlaceHolder}"
                                                 value="#{storeOwnerProductBean.productToUpdate.name}"
                                                 maxlength="45" required="true"
                                                 requiredMessage="#{bundle.storeOwnerRequiredMessage_productName}"
                                                 converterMessage="#{bundle.storeOwnerConverterMessage_productName}"
                                                 validatorMessage="#{bundle.storeOwnerValidationMessage_productName}">
                                        <f:ajax execute="productNameTextBox" render="productNameTextBoxMessage"/>
                                    </p:inputText>
                                    <h:message for="productNameTextBox" id="productNameTextBoxMessage"
                                               style="color: #ff0000;"/>
                                </h:panelGroup>

                                <h:panelGroup class="form-group">
                                    <label for="productPriceTextBox">#{bundle.storeOwner_productPriceLabel}</label>
                                    <br/>
                                    <p:spinner id="productPriceTextBox" styleClass="numberOnly"
                                               maxlength="11" required="true"
                                               requiredMessage="#{bundle.storeOwnerRequiredMessage_productPrice}"
                                               converterMessage="#{bundle.storeOwnerConverterMessage_productName}"
                                               validatorMessage="#{bundle.storeOwnerValidationMessage_productPrice}"
                                               value="#{storeOwnerProductBean.productToUpdate.price}"
                                               style="padding-right: 20px;">
                                        <f:ajax execute="productPriceTextBox" render="productPriceTextBoxMessage"/>
                                    </p:spinner>
                                    <h:message for="productPriceTextBox" id="productPriceTextBoxMessage"
                                               style="color: #ff0000;"/>
                                </h:panelGroup>
                                <br/>

                                <h:panelGroup class="form-group">
                                    <label for="productDescTextBox">#{bundle.storeOwner_productDescriptionLabel}</label>
                                    <p:inputTextarea value="#{storeOwnerProductBean.productToUpdate.description}"
                                                     rows="9" cols="4" maxlength="300" autoResize="false"
                                                     styleClass="form-control"
                                                     id="productDescTextBox" placeholder="#{bundle.storeOwner_productDescriptionTextBoxPlaceHolder}" required="true"
                                                     style="height: 87px"
                                                     requiredMessage="#{bundle.storeOwnerRequiredMessage_productDescription}"
                                                     converterMessage="#{bundle.storeOwnerConverterMessage_productDescription}" validatorMessage="#{bundle.storeOwnerValidationMessage_productDescription}">
                                        <f:ajax execute="productDescTextBox" render="productDescTextBoxMessage"/>
                                    </p:inputTextarea>
                                    <h:message for="productDescTextBox" id="productDescTextBoxMessage"
                                               style="color: #ff0000;"/>
                                </h:panelGroup>
                                <br/>

                                <h:panelGroup class="form-group">
                                    <label for="selectitems">#{bundle.storeOwner_selectCategoryLabel}  </label>
                                    <h:selectOneMenu id="selectitems" value="#{storeOwnerProductBean.productToUpdate.categoryDTO}"
                                                     converter="omnifaces.SelectItemsConverter">
                                        <f:selectItem itemLabel="#{bundle.storeOwner_categoryChooseItemLabel}" noSelectionOption="true"/>
                                        <f:selectItems value="#{storeOwnerProductBean.categories}" var="entity"
                                                       itemLabel="#{entity.name}" itemValue="#{entity}"/>
                                        <f:ajax execute="selectitems" render="selectitemsMessage"/>
                                    </h:selectOneMenu>
                                    <br/>
                                    <h:message for="selectitems" id="selectitemsMessage" style="color: #ff0000;"/>
                                </h:panelGroup>
                                <br/>


                                <h:panelGroup class="form-group">
                                    <label for="InputCompany">#{bundle.storeOwner_selectCompanyLabel} </label>
                                    <h:selectOneMenu id="InputCompany" value="#{storeOwnerProductBean.productToUpdate.companyDTO}"
                                                     converter="omnifaces.SelectItemsConverter" required="true"
                                                     requiredMessage="#{bundle.storeOwnerRequiredMessage_selectCompany}">
                                        <f:selectItem itemLabel="#{bundle.storeOwner_companyChooseItemLabel}" noSelectionOption="true"/>
                                        <f:selectItems value="#{storeOwnerProductBean.companies}" var="comp"
                                                       itemValue="#{comp}"
                                                       itemLabel="#{comp.name}"/>
                                        <f:ajax execute="InputCompany" render="InputCompanyMessage"/>
                                    </h:selectOneMenu>
                                    <br/>
                                    <h:message for="InputCompany" id="InputCompanyMessage" style="color: #ff0000;"/>
                                </h:panelGroup>
                                <br/>

                                <div class="form-group" style="display: none;">
                                    <p:growl id="messages" showDetail="true"/>
                                    <p:fileUpload value="#{storeOwnerProductBean.fileToEdit}" mode="simple" skinSimple="true"
                                                  id="AddProdFileUpload" onchange="encodeImageFileAsURL()"
                                                  onclick="return true;">
                                    </p:fileUpload>
                                </div>

                                <h:outputLabel>#{bundle.storeOwner_productImageLabel}</h:outputLabel>
                                <h:outputLabel id="prodImage">
                                    <i class="fa fa-upload"></i>
                                    <h:outputLabel id="statusOfUploadedFile">
                                        <c:if test="#{not empty storeOwnerProductBean.fileToEdit}">
                                            #{bundle.storeOwnerUploadImageSuccess}
                                        </c:if>
                                    </h:outputLabel>
                                </h:outputLabel>


                                <h:outputScript>


                                    document.getElementById("prodImage").setAttribute("for", "AddProdFileUpload_input");
                                    document.getElementById("productPriceTextBox").value = "";

                                    document.getElementById("AddProdFileUpload_input").addEventListener("change", encodeImageFileAsURL);

                                    function encodeImageFileAsURL() {
                                        var filesSelected = document.getElementById("AddProdFileUpload_input").files;
                                        if (filesSelected.length > 0) {
                                            var fileToLoad = filesSelected[0];
                                            var fileReader = new FileReader();
                                            fileReader.onload = function (fileLoadedEvent) {
                                                document.getElementById("statusOfUploadedFile").innerHTML = "Image Has Been uploaded";
                                            };
                                            fileReader.readAsDataURL(fileToLoad);
                                        }
                                    }
                                </h:outputScript>


                            </div>
                            <div class="modal-footer">

                                <p:commandLink validateClient="true" action="#{storeOwnerProductBean.editProduct()}"
                                               styleClass="btn btn-primary" value="save" style="width:67.2656px;">
                                    <f:ajax execute="@form" render="@form"/>
                                </p:commandLink>

                                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">#{bundle.Cancel}</button>
                            </div>
                            <div style="clear: both">
                                <p:messages for="eventMessage" showSummary="true" autoUpdate="true" closable="true"/>
                            </div>
                        </h:form>
                    </div>
                </div>
            </div>

            <section class="box widget audio" style="height:inherit; padding:20px;">
                <br/>
                <h:panelGroup class="table-responsive">
                    <h:form prependId="false" dir="#{langBean.location}">
                        <h:dataTable id="productsTableView" value="#{storeOwnerProductBean.productDTODataModel}"
                                     styleClass="table table-hover" var="product">

                            <h:column>
                                <f:facet name="header">#{bundle.storeOwner_productImageLabel}</f:facet>
                                <h:graphicImage value="#{imageUtil.getImageSrc(product.image)}" width="94px"
                                                height="94px" styleClass="click circleImage"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">#{bundle.storeOwner_productNameLabel}</f:facet>
                                #{product.name}
                            </h:column>
                            <h:column>
                                <f:facet name="header">#{bundle.storeOwner_productDescriptionLabel}</f:facet>
                                #{product.description}
                            </h:column>
                            <h:column>
                                <f:facet name="header">#{bundle.storeOwner_productPriceLabel}</f:facet>
                                #{product.price}
                            </h:column>

                            <h:column>
                                <f:facet name="header">#{bundle.Edit}</f:facet>
                                <h:commandLink value="#{bundle.Edit}" action="#{storeOwnerProductBean.setProductToUpdate(product)}"
                                               styleClass="glyphicon glyphicon-edit  showEditModal">
                                    <f:ajax execute="@form" render="randrnyMnFdlk"/>
                                </h:commandLink>

                            </h:column>
                            <h:column>
                                <f:facet name="header">#{bundle.Delete}</f:facet>
                                <h:commandLink value="#{bundle.Delete}" action="#{storeOwnerProductBean.deleteProduct()}"
                                               styleClass="glyphicon glyphicon-edit"/>

                            </h:column>

                        </h:dataTable>
                    </h:form>
                </h:panelGroup>
            </section>


            <h:outputScript>
                $(".showEditModal").attr("data-toggle", "modal");
                $(".showEditModal").attr("data-target", "#editProductModal");
            </h:outputScript>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <h:outputScript library="js" name="bootstrap.min.js"/>
        </ui:define>
    </ui:composition>
</f:view>
</html>
