<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductEditDlg" widgetVar="ProductEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditProductTitle}">
            <h:form id="ProductEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productController.selected != null}">

                        <p:outputLabel value="#{bundle.EditProductLabel_storeOwner}" for="storeOwner" />
                        <p:selectOneMenu converter="StoreOwnerControllerConverter" id="storeOwner" required="true" value="#{productController.selected.storeOwnerDTO}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{storeOwnerController.itemsAvailableSelectOne}"
                                           var="storeOwnerItem"
                                           itemLabel="#{storeOwnerItem.name}"
                                           itemValue="#{storeOwnerItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditProductLabel_company}" for="company" />
                        <p:selectOneMenu converter="CompanyControllerConverter" id="company" required="true"  value="#{productController.selected.companyDTO}" >
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{companyController.itemsAvailableSelectOne}"
                                           var="companyItem"
                                           itemLabel="#{companyItem.name}"
                                           itemValue="#{companyItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditProductLabel_category}" for="category" />
                        <p:selectOneMenu converter="CategoryControllerConverter" id="category"  value="#{productController.selected.categoryDTO}" required="true" requiredMessage="#{bundle.EditProductRequiredMessage_category}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{categoryController.itemsAvailableSelectOne}"
                                           var="categoryItem"
                                           itemLabel="#{categoryItem.name}"
                                           itemValue="#{categoryItem}"/>
                        </p:selectOneMenu>

                        <p:outputLabel value="#{bundle.EditProductLabel_name}" for="name" />

                        <p:inputText id="name" value="#{productController.selected.name}" title="#{bundle.EditProductTitle_name}" required="true" requiredMessage="#{bundle.EditProductRequiredMessage_name}"/>



                        <p:outputLabel value="#{bundle.EditProductLabel_price}" for="price" />
                        <p:inputText id="price" value="#{productController.selected.price}" title="#{bundle.EditProductTitle_price}" required="true" requiredMessage="#{bundle.EditProductRequiredMessage_price}" validatorMessage="#{bundle.EditProductValidationMessage_price}">
                            <f:convertNumber/>
                            <f:validateLength maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditProductLabel_description}" for="description" />
                        <p:inputTextarea cols="50" rows="10" id="description" value="#{productController.selected.description}" title="#{bundle.EditProductTitle_description}" validatorMessage="#{bundle.EditProductValidationMessage_description}">
                            <f:validateLength maximum="500"/>
                        </p:inputTextarea>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{productController.update}" value="#{bundle.Save}" update="display,:ProductListForm:datalist,:growl" oncomplete="handleSubmit(args, 'ProductEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ProductEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
