<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ProductViewDlg" widgetVar="ProductViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewProductTitle}">
            <h:form id="ProductViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{productController.selected != null}">
                        <h:outputText value="#{bundle.ViewProductLabel_id}"/>
                        <h:outputText value="#{productController.selected.id}" title="#{bundle.ViewProductTitle_id}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_storeOwner}"/>
                        <h:outputText value="#{productController.selected.storeOwnerDTO.name}" title="#{bundle.ViewProductTitle_storeOwner}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_company}"/>
                        <h:outputText value="#{productController.selected.companyDTO.name}" title="#{bundle.ViewProductTitle_company}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_category}"/>
                        <h:outputText value="#{productController.selected.categoryDTO.name}" title="#{bundle.ViewProductTitle_category}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_name}"/>
                        <h:outputText value="#{productController.selected.name}" title="#{bundle.ViewProductTitle_name}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_image}"/>
                        <h:outputText value="#{productController.selected.image}" title="#{bundle.ViewProductTitle_image}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_price}"/>
                        <h:outputText value="#{productController.selected.price}" title="#{bundle.ViewProductTitle_price}"/>
                        <h:outputText value="#{bundle.ViewProductLabel_description}"/>
                        <h:outputText value="#{productController.selected.description}" title="#{bundle.ViewProductTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="ProductViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
