<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title><ui:insert name="title">Default Title</ui:insert></title>
    <h:outputStylesheet library="css" name="jsfcrud.css"/>
    <h:outputScript library="js" name="jsfcrud.js"/>
</h:head>

<h:body>

    <p:growl id="growl" life="5000" />

    <p:layout fullPage="true">
        <p:layoutUnit position="north" size="65" header="#{bundle.AppName}">
            <h:form id="menuForm">
                <p:menubar>
                    <p:menuitem value="#{bundle.Home}" outcome="adminHome" icon="ui-icon-home"/>
                    <p:submenu label="#{bundle.Maintenance}">
                        <p:menuitem value="Category" outcome="/pages/private/admin/curd/category/List.xhtml" />
                        <p:menuitem value="Company" outcome="/pages/private/admin/curd/company/List.xhtml" />
                        <p:menuitem value="EventPlace" outcome="/pages/private/admin/curd/eventPlace/List.xhtml" />
                        <p:menuitem value="EventType" outcome="/pages/private/admin/curd/eventType/List.xhtml" />
                        <p:menuitem value="Greeting" outcome="/pages/private/admin/curd/greeting/List.xhtml" />
                        <p:menuitem value="IWishConfig" outcome="/pages/private/admin/curd/iWishConfig/List.xhtml" />
                        <p:menuitem value="Place" outcome="/pages/private/admin/curd/place/List.xhtml" />
                        <p:menuitem value="Product" outcome="/pages/private/admin/curd/product/List.xhtml" />
                        <p:menuitem value="StoreOwner" outcome="/pages/private/admin/curd/storeOwner/List.xhtml" />
                        <p:menuitem value="User" outcome="/pages/private/admin/curd/user/List.xhtml" />
                    </p:submenu>
                </p:menubar>
            </h:form>
        </p:layoutUnit>

        <p:layoutUnit position="south" size="60">
            <ui:insert name="footer"/>
        </p:layoutUnit>

        <p:layoutUnit position="center">
            <ui:insert name="body"/>
        </p:layoutUnit>

    </p:layout>

</h:body>

</html>
