<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/WEB-INF/template/storeOwnerTemplate.xhtml">
    <ui:define name="title">IWish - Admin Home</ui:define>

    <ui:define name="content">
        <h:form>

            <section class="box widget audio" style="height:inherit; padding:20px;">
                <h:commandLink id="productCount" value="Refresh" action="#{adminBean.refreshProductCount}">
                    <f:ajax render="@form" execute="@form"/>
                </h:commandLink>
            </section>

            <section class="box widget audio" style="height:inherit; padding:20px;">
            <div class="avatar">Admin Dashboard</div>
                <p:chart type="pie" model="#{adminBean.productsPieChart}" style="width:400px;height:300px" />

        </section>


        <section class="box widget audio" style="height:inherit; padding:20px;">



                    <h:panelGroup>
                        <h:outputLabel value="Product Count in Database : "/>
                        <h:outputLabel for="productCount" value="#{adminBean.productCount}"/>
                    </h:panelGroup>

                    <br/>

                    <h:commandLink id="syncProduct" action="#{adminBean.syncProduct}" value="Sync Product">
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandLink>
                    <h:outputLabel value=" "/>


        </section>

        </h:form>
    </ui:define>
</ui:composition>
</html>
