<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<f:view>

    <ui:composition template="/WEB-INF/template/storeOwnerTemplate.xhtml">
        <ui:define name="title">IWish - Store Owners</ui:define>

        <ui:define name="content">

        </ui:define>
    </ui:composition>
</f:view>
</html>
