<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EventPlaceCreateDlg" widgetVar="EventPlaceCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateEventPlaceTitle}">
            <h:form id="EventPlaceCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{eventPlaceController.selected != null}">

                        <p:outputLabel value="#{bundle.CreateEventPlaceLabel_eventType}" for="eventType" />
                        <p:selectOneMenu converter="EventTypeControllerConverter" id="eventType" value="#{eventPlaceController.selected.eventTypeDTO}" required="true" requiredMessage="#{bundle.EditEventPlaceRequiredMessage_eventType}">
                            <f:selectItems value="#{eventTypeController.itemsAvailableSelectOne}"
                                           var="eventTypeItem"
                                           itemLabel="#{eventTypeItem.name}"
                                           itemValue="#{eventTypeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateEventPlaceLabel_place}" for="place" />
                        <p:selectOneMenu converter="PlaceControllerConverter" id="place" value="#{eventPlaceController.selected.placeDTO}" required="true" requiredMessage="#{bundle.EditEventPlaceRequiredMessage_place}">
                            <f:selectItems value="#{placeController.itemsAvailableSelectOne}"
                                           var="placeItem"
                                           itemLabel="#{placeItem.name}"
                                           itemValue="#{placeItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{eventPlaceController.create}" value="#{bundle.Save}" update="display,:EventPlaceListForm:datalist,:growl" oncomplete="handleSubmit(args,'EventPlaceCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EventPlaceCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
