<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EventPlaceViewDlg" widgetVar="EventPlaceViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEventPlaceTitle}">
            <h:form id="EventPlaceViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{eventPlaceController.selected != null}">
                        <h:outputText value="#{bundle.ViewEventPlaceLabel_id}"/>
                        <h:outputText value="#{eventPlaceController.selected.id}" title="#{bundle.ViewEventPlaceTitle_id}"/>
                        <h:outputText value="#{bundle.ViewEventPlaceLabel_eventType}"/>
                        <h:outputText value="#{eventPlaceController.selected.eventTypeDTO.name}" title="#{bundle.ViewEventPlaceTitle_eventType}"/>
                        <h:outputText value="#{bundle.ViewEventPlaceLabel_place}"/>
                        <h:outputText value="#{eventPlaceController.selected.placeDTO.name}" title="#{bundle.ViewEventPlaceTitle_place}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EventPlaceViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
