<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EventTypeViewDlg" widgetVar="EventTypeViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewEventTypeTitle}">
            <h:form id="EventTypeViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{eventTypeController.selected != null}">
                        <h:outputText value="#{bundle.ViewEventTypeLabel_id}"/>
                        <h:outputText value="#{eventTypeController.selected.id}" title="#{bundle.ViewEventTypeTitle_id}"/>
                        <h:outputText value="#{bundle.ViewEventTypeLabel_name}"/>
                        <h:outputText value="#{eventTypeController.selected.name}" title="#{bundle.ViewEventTypeTitle_name}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="EventTypeViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
