<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CompanyCreateDlg" widgetVar="CompanyCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateCompanyTitle}">
            <h:form id="CompanyCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{companyController.selected != null}">

                        <p:outputLabel value="#{bundle.CreateCompanyLabel_name}" for="name" />
                        <p:inputText id="name" value="#{companyController.selected.name}" title="#{bundle.CreateCompanyTitle_name}" required="true" requiredMessage="#{bundle.CreateCompanyRequiredMessage_name}" validatorMessage="#{bundle.CreateCompanyValidationMessage_name}">
                            <f:validateLength maximum="50"/>
                        </p:inputText >
                    </p:panelGrid>
                    <p:commandButton actionListener="#{companyController.create}" value="#{bundle.Save}" update="display,:CompanyListForm:datalist,:growl" oncomplete="handleSubmit(args,'CompanyCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CompanyCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
