<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IWishConfigCreateDlg" widgetVar="IWishConfigCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateIWishConfigTitle}">
            <h:form id="IWishConfigCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{iWishConfigController.selected != null}">

                        <p:outputLabel  value="#{bundle.CreateIWishConfigLabel_configKey}" for="configKey" />
                        <p:inputTextarea cols="25" rows="4" id="configKey" value="#{iWishConfigController.selected.configKey}" title="#{bundle.CreateIWishConfigTitle_configKey}" required="true" requiredMessage="#{bundle.CreateIWishConfigRequiredMessage_configKey}" validatorMessage="#{bundle.CreateIWishConfigValidationMessage_configKey}">
                            <f:validateLength maximum="100"/>
                        </p:inputTextarea>
                        <p:outputLabel value="#{bundle.CreateIWishConfigLabel_configValue}" for="configValue" />
                        <p:inputTextarea cols="25" rows="10" id="configValue" value="#{iWishConfigController.selected.configValue}" title="#{bundle.CreateIWishConfigTitle_configValue}" required="true" requiredMessage="#{bundle.CreateIWishConfigRequiredMessage_configValue}" validatorMessage="#{bundle.CreateIWishConfigValidationMessage_configValue}">
                            <f:validateLength maximum="250"/>
                        </p:inputTextarea>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{iWishConfigController.create}" value="#{bundle.Save}" update="display,:IWishConfigListForm:datalist,:growl" oncomplete="handleSubmit(args,'IWishConfigCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IWishConfigCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
