<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IWishConfigEditDlg" widgetVar="IWishConfigEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditIWishConfigTitle}">
            <h:form id="IWishConfigEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{iWishConfigController.selected != null}">

                        <p:outputLabel value="#{bundle.EditIWishConfigLabel_configKey}" for="configKey" />
                        <p:inputTextarea cols="25" rows="4" id="configKey" value="#{iWishConfigController.selected.configKey}" title="#{bundle.EditIWishConfigTitle_configKey}" required="true" requiredMessage="#{bundle.EditIWishConfigRequiredMessage_configKey}" validatorMessage="#{bundle.EditIWishConfigValidationMessage_configKey}">
                            <f:validateLength maximum="100"/>
                        </p:inputTextarea>
                        <p:outputLabel value="#{bundle.EditIWishConfigLabel_configValue}" for="configValue" />
                        <p:inputTextarea cols="25" rows="10" id="configValue" value="#{iWishConfigController.selected.configValue}" title="#{bundle.EditIWishConfigTitle_configValue}" required="true" requiredMessage="#{bundle.EditIWishConfigRequiredMessage_configValue}" validatorMessage="#{bundle.EditIWishConfigValidationMessage_configValue}">
                            <f:validateLength maximum="250"/>
                        </p:inputTextarea>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{iWishConfigController.update}" value="#{bundle.Save}" update="display,:IWishConfigListForm:datalist,:growl" oncomplete="handleSubmit(args, 'IWishConfigEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="IWishConfigEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
