<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="IWishConfigViewDlg" widgetVar="IWishConfigViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewIWishConfigTitle}">
            <h:form id="IWishConfigViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{iWishConfigController.selected != null}">
                        <h:outputText value="#{bundle.ViewIWishConfigLabel_id}"/>
                        <h:outputText value="#{iWishConfigController.selected.id}" title="#{bundle.ViewIWishConfigTitle_id}"/>
                        <h:outputText value="#{bundle.ViewIWishConfigLabel_configKey}"/>
                        <h:outputText value="#{iWishConfigController.selected.configKey}" title="#{bundle.ViewIWishConfigTitle_configKey}"/>
                        <h:outputText value="#{bundle.ViewIWishConfigLabel_configValue}"/>
                        <h:outputText value="#{iWishConfigController.selected.configValue}" title="#{bundle.ViewIWishConfigTitle_configValue}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="IWishConfigViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
