.margLeft{
    margin-left: 23px;
}

.footerLink{
    text-decoration: none;
    color: #00F;
    font-family: Tahoma, verdana; font-size: 13px;
}

.copyright{
    color: #000;
    font-family: Verdana, Tahoma;
    font-size: 13px;
    text-decoration: none;
    cursor: default;
}

.copyright:hover{
    color: #000;
    text-decoration: none;
    cursor: default;
}

footer{
    padding: 0px;
    padding-left: 250px;
    padding-right: 600px;
    clear: both;
}