.header{
    background: #000;
/*    height: 25px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: auto;
}

.logoPic{
    margin-left: 24px;
}

.search{
    margin-left: 18px;
    height: 25px;
    padding: 0px; padding-right: 22px;
}

.searchIcon{
    margin-left: -22px;
    margin-top: 4px;
    margin-bottom: 5px;
}

.margRight{
    margin-right: 23px;
}

.userName{
    margin-right: 33px;
    font-size:  14px;
    line-height: 25px;
}

.whiteFont{
    color: #fff;
}

.verdana{
    font-family: Verdana, Tahoma;
}

.tooltip{
    padding: 0px; 
    font-size: 13px;
}

header{
/*    width: 100%;
    position: fixed;
    top:0px;*/
}

.profilePicture{
    width: 25px;
    height: 25px;
}