.firstPart{
    float: left;
    width:15.7%;
    height: 500px;
}

.firstPart  .scpan{
    height: 100%;
}

.firstPart .scpan h3{
    color: #000;
    font-family: Verdana, Tahoma;
    font-size: 13px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 0px;
}

.category{
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    width: 95px;
}

.category img{
    width: 94px;
    height: 94px;
    
}

.category .catName{
    color: #000;
    font-family: Verdana, Tahoma;
    font-size: 12px;
    text-align: center;
}

.secondPart{
    float: left;
    margin-left: 1.5%;
    width:15.629%;
    height: 500px;
}

.secondPart  .scpan{
    height: 100%;
}

.secondPart .scpan h3{
    color: #000;
    font-family: Verdana, Tahoma;
    font-size: 13px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 0px;
}

.company{
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    width: 95px;
    height: 113px;
}

.company img{
    width: 94px;
    height: 94px;
    
}

.company .compName{
    color: #000;
    font-family: Verdana, Tahoma;
    font-size: 12px;
    text-align: center;
}

.thirdPart{
    float: left;
    margin-left: 1.5%;
    width: 64.75%;
    height: 500px;
}

.thirdPart .scpan{
    height: 100%;
}

.thirdPart .scpan h3{
    color: #000;
    font-family: Verdana, Tahoma;
    font-size: 13px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    margin: 0px;
}


.product{
    float: left;
    width: 148px;
    height: 140px;
    margin-left: 10px;
    margin-top: 10px;
}

.product img{
    width: 148px;
    height: 91px;
}

.product .desc{
    overflow: hidden;
    width: 148px;
    height: 30px;
    font-family: Verdana, Tahoma;
    color: #444;
    font-size: 12px;
    text-align: left;
}

.product .click{
    width: 62px;
    height: 15px;
    background: #000;
    color: #fff;
    font-family: Verdana, Tahoma;
    font-size: 13px;
    border: none;
    float: right;
}

.margin15{
    margin-bottom: 15px;
}

.margint-30{
    margin-top: -30px;
}

.modal-backdrop{
    position: relative;
}


.circleImage{
    width: 94px;
    height: 94px;
    border-radius: 47px;
    border-style: none;
}

.nullImage{
    background-image: url("/IWish-Enterprise-Application-web/javax.faces.resource/catImage.png.xhtml?ln=images");
}

.selectedCategory{
    border: 2px solid #ff0000;
}

.normalCategory{
    border: none;
}