.searchLabel{
    font-family: Verdana, Tahoma;
    font-size: 13px;
    color:#000;
    margin-left: 0.1464%;
}   

.searchText{
    width: 214px;
    height: 19px;
    margin-left: 1.1%;
}

.searchButton{
    background: #000;
    color: #FFF;
    font-family: Verdana, Tahoma;
    font-size: 14px;
    width: 74px;
    height: 25px;
    margin-left: 1.05%;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}