

h3{
    font-family: Verdana, Tahoma;
    font-size: 16px;
    text-align: center;
}

.sItemName{
    font-family: Verdana, Tahoma;
    font-size: 14px;
    color:#000;
    margin-left: 10px;
}

.sItemImg{
    float: right;
    margin-right: 10px;
}

.confirmSelected{
    background: #000;
    color: #fff;
    font-family: Verdana, Tahoma;
    font-size: 14px;
    border: none;
    margin-top: 20px;
    margin-left: 65.0%;
    clear: both;
    width: 30.0%;
    height: 25px;
}

.selectedItems{
    height: 500px;
}

.scrollPane{
    height: 450px;
}