.rightDiv{
    float: right;
}

.leftDiv{
    float: left;
}

.inline{
    display: inline;
}

.noMargin{
    margin: 0px;
    cursor: pointer;
}

.click{
    cursor: pointer;
}

#rightContents{
    /*position: fixed;*/
    margin-left:  80.5505%;
    width: 17.569546%;
    min-height:  580px;   
    border-style: solid;
    border-width: 1px;
}

#leftContents{
    margin-left: 1.7569546%;
    margin-bottom: 13px;
    width: 75.0366%;
}

#content{
    margin-top: 14px;
    /*margin-top: 60px;*/
    cursor: auto;
    /*position: fixed;*/
    width: 100%;
}

#productCatalogue{
    clear: both;
    min-height: 520px;
    border-style: solid;
    border-width: 1px;
}