<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
        >
    <head>

    </head>
    <body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define name="title">IWish - Wish List</ui:define>
            <ui:define name="content">
                <div class="col_1of2">
                    <section class="box widget find">

                        <label >field name</label>
                        <input/>
                    </section>

            </ui:define>
        </ui:composition>
    </body>
</html>
