<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <head>

    </head>
    <body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define name="title">IWish - Wish List</ui:define>
            <ui:define name="content">

                <div class="col_3of3">
                    <div class="col_1of2">
                        <section class="box widget find">
                            <h:selectOneMenu id="InputCategory" value="#{selectedProducts.selectedCategory}" converter="omnifaces.SelectItemsConverter">
                                <f:selectItem itemLabel="#{bundle.createWishListInputCategory_itemLabel}}" noSelectionOption="true" />
                                <f:selectItems value="#{selectedProducts.categories}" var="cat" itemValue="#{cat}" itemLabel="#{cat.name}" />
                                <f:ajax render="companies"/>
                            </h:selectOneMenu>
                        </section>
                    </div>

                    <div id="companies">
                        <div class="col_1of2">
                            <section class="box widget find">
                                <h:selectOneMenu id="InputCompany" value="#{selectedProducts.selectedCompany}" converter="omnifaces.SelectItemsConverter">
                                    <f:selectItem itemLabel="#{bundle.createWishListInputCompany_itemLabel}" noSelectionOption="true" />
                                    <f:selectItems value="#{selectedProducts.companies}" var="comp" itemValue="#{comp}" itemLabel="#{comp.name}" />
                                    <f:ajax render="products"/>
                                </h:selectOneMenu>
                            </section>
                        </div>
                    </div>
                </div>


                <div class="col_1of3"  id="products">
                    <section class="box widget find">
                        <c:forEach begin="0" end="#{selectedProducts.products.size()-1}" step="1" var="index">
                            <div class="avatar">
                                <c:if test="#{empty selectedProducts.products.get(index).image}">
                                    <h:graphicImage library="images" name="productImage.jpg" width="148" height="91"/>
                                </c:if>
                                <c:if test="#{not empty selectedProducts.products.get(index).image}">
                                    <h:graphicImage value="#{imageUtil.getImageSrc(selectedProducts.products.get(index).image)}" width="148" height="91"/>
                                </c:if>
                            </div>        
                                <h2 class="album"><h:outputLabel>#{selectedProducts.products.get(index).name}</h:outputLabel></h2>
                                
                                <h:commandLink id="a#{index}" class="btn btn-primary btn-large btn-block">View Details</h:commandLink>
                                <p:tooltip id="toolTipTrack" for="productsForm:a#{index}" value="#{selectedProducts.products.get(index).description}" 
                                           style="padding: 0px; font-family: Verdana, Tahoma; font-size: 13px;"/>
                                
                                <h:commandLink action="#{selectedProducts.addToSelectedProducts(selectedProducts.products.get(index))}"
                                               styleClass="btn btn-primary btn-large btn-block">#{bundle.createWishListInputCompany_addItemButton}</h:commandLink>
                            
                        </c:forEach>
                        
                        
                    </section>
                </div>

            </ui:define>
        </ui:composition>
    </body>
</html>
