<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<h:head></h:head>
<h:body>
    <ui:composition template="/WEB-INF/template/template.xhtml">
        <ui:define name="title">IWish - Events Page</ui:define>
        <ui:define name="content">

            <!-- Modal -->
            <h:panelGroup layout="block" class="modal fade" id="eventPageModel">
                <div class="modal-dialog">
                    <h:panelGroup class="modal-content" id="eventPageModaal" layout="block">
                        <div class="modal-header" style="overflow: auto;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="#{bundle.Close}">
                                <span aria-hidden="true">X</span></button>
                            <h4 class="modal-title" id="myModalLabel">#{eventPageTemplate.userEventDTO.name}</h4>
                        </div>
                        <div class="modal-body" style="overflow: hidden;" id="eventPageModalBody">
                            <c:if test="#{empty eventPageTemplate.userEventDTO}">
                                <div style="text-align: center;  vertical-align: middle; width:100%; height: 100%;">
                                    <h:graphicImage library="img" name="loader.gif" width="80px" height="80px"
                                                    style="margin: auto;"/>
                                </div>
                            </c:if>
                            <c:if test="#{not empty eventPageTemplate.userEventDTO}">
                                <div id="body">


                                    <div style="color:#FFF; background-color:#dd5555; width:140px; padding-left:8px; clear:both;">previous greeting</div>
                                    <h:panelGroup id="previous_greeting" layout="block"
                                                  style="border: 1px solid #dd5555;">
                                        <c:if test="#{empty eventPageTemplate.userEventDTO.eventCommentses}">
                                            <div style="width:100%; height: 100%; text-align: center; vertical-align: middle;">There are no comments on this event</div>
                                        </c:if>
                                        <c:if test="#{not empty eventPageTemplate.userEventDTO.eventCommentses}">
                                            <c:forEach items="#{eventPageTemplate.eventCommentsDTOs}" var="comment">

                                                <div style="height: 34px; display: inline-flex;" class="commentStyle">
                                                    <div style="display: inline-flex;">
                                                        <div>
                                                            <h:graphicImage
                                                                    value="#{imageUtil.getImageSrc(comment.user.picture)}"
                                                                    width="30" height="30"
                                                                    style="margin-left: 2px; margin-top: 2px; margin-right: 2px;"/>
                                                        </div>
                                                        <div style="font-weight: bold; color: blue; margin-top: 5px; margin-left:3px; width:180px; overflow:hidden;">#{comment.user.name}</div>
                                                    </div>
                                                    <div style="display: inline; width:350px; height:auto; overflow:hidden; margin-top:6px;">#{comment.content}</div>
                                                </div>
                                            </c:forEach>
                                        </c:if>

                                    </h:panelGroup>


                                </div>
                            </c:if>
                        </div>
                    </h:panelGroup>
                </div>
            </h:panelGroup>


            <h:panelGroup id="eventsBlock" layout="block">
                <c:if test="${empty eventsBean.eventsList}">
                    <div class="col_3of3">
                        <section class="box widget audio">
                            <p class="artist" align="center"
                               style="vertical-align: central;font-size: 15px; padding:25px;">#{bundle.userEvents_hasNoEvents}</p>
                        </section>
                    </div>
                </c:if>

                <c:forEach items="#{eventsBean.listOfCurrentUserEvents}" var="event">
                    <h:form id="eventsBlockForm" dir="#{langBean.location}">
                        <div class="col_3of3">
                            <section class="box widget audio" style="height: 136px;">
                                <div class="image">
                                    <h:form dir="#{langBean.location}">
                                        <h:commandLink action="#{eventPageTemplate.getEvent(event)}"
                                                       style="cursor: pointer;" styleClass="loadloading showModal">

                                            <h:graphicImage library="img" name="event.png"
                                                            style="height: 85px; width: 85px; margin-top: 18px; margin-left: 10px;"
                                                            styleClass="loadloading"/>
                                            <f:ajax render="eventPageModaal"/>

                                        </h:commandLink>
                                    </h:form>
                                </div>
                                <h:panelGroup layout="block" class="details hideOverFlow height112 paddingBottom10"
                                              style="height: 120px;">
                                    <h:panelGroup layout="block" id="event#{event.id}">
                                        <h2 class="album"> #{event.name}</h2>

                                        <p class="artist" style="height: 20px; overflow: auto; ">#{event.date}</p>
                                    </h:panelGroup>
                                    <p:tooltip for="event#{event.id}" id="toolTipTrack" value="#{event.description}"
                                               trackMouse="true"/>


                                    <p:commandLink action="#{eventsBean.delete(event)}">
                                        <i class="fa fa-times closeIcon"
                                           style=" font-size: 19px; cursor: pointer; float: right;  margin-right: 10px;  color:#dd5555;  margin-top: -70px; "></i>
                                        <p:confirm header="#{bundle.userEvents_deleteEventConfirmationTitle}" message="#{bundle.userEvents_deleteEventConfirmationMessage}" icon="ui-icon-alert"/>
                                        <f:ajax render="eventsBlock" execute="@form"/>
                                    </p:commandLink>
                                    <h:commandButton action="#{eventsBean.editEventData(event)}" value="Edit"
                                                     styleClass="btn btn-primary loadloadingg editEvent"
                                                     style="margin-left: 431px; margin-top: -11px">
                                        <f:ajax render="editEventDialog editForm" execute="@form"/>
                                    </h:commandButton>


                                    <p:confirmDialog global="true">
                                        <p:commandButton value="#{bundle.yesButton}" type="button" styleClass="ui-confirmdialog-yes"
                                                         icon="ui-icon-check"/>
                                        <p:commandButton value="#{bundle.noButton}" type="button" styleClass="ui-confirmdialog-no"
                                                         icon="ui-icon-close"/>
                                    </p:confirmDialog>


                                    <h:outputScript>

                                        $(document).ready(function () {
                                            $('.closeIcon').hover(
                                                    function () {
                                                        $(this).css("color", "#992416");
                                                    },
                                                    function () {
                                                        $(this).css("color", "#dd5555");
                                                    }
                                            )
                                        });
                                    </h:outputScript>
                                </h:panelGroup>

                            </section>
                        </div>
                    </h:form>
                </c:forEach>

                <h:outputScript>
                    $(".showModal").attr("data-toggle", "modal");
                    $(".showModal").attr("data-target", "#eventPageModel");

                    var loadingHTMLForEventModal;


                    $(document).ready(function(){
                    loadingHTMLForEventModal = "<div><img/></div>";
                    })

                    $( ".loadloading" ).hover(function() {
                        $("#eventPageModalBody").html("");
                        $("#eventPageModalBody").html(loadingHTMLForEventModal);
                        $("#eventPageModalBody div").css("text-align","center");
                        $("#eventPageModalBody div").css("vertical-align","middle");
                        $("#eventPageModalBody div").css("width","100%");
                        $("#eventPageModalBody div").css("height","100%");

                        $("#eventPageModalBody div img").attr("src","#{resource['img/loader.gif']}");
                        $("#eventPageModalBody div img").attr("width","80px");
                        $("#eventPageModalBody div img").attr("height","80px");
                        $("#eventPageModalBody div img").css("margin","auto");
                        $("#myModalLabel").html("");
                    });
                </h:outputScript>
                <h:outputScript>
                    $(".editEvent").attr("data-toggle", "modal");
                    $(".editEvent").attr("data-target", "#EditEventModal");

                    var loadingHTMLForEventModal;


                    $(document).ready(function(){
                    loadingHTMLForEventModal = "<div><img/></div>";
                    })

                    $( ".loadloadingg" ).hover(function() {
                    $("#contentEditEvent").html("");
                    $("#contentEditEvent").html(loadingHTMLForEventModal);
                    $("#contentEditEvent div").css("text-align","center");
                    $("#contentEditEvent div").css("vertical-align","middle");
                    $("#contentEditEvent div").css("width","100%");
                    $("#contentEditEvent div").css("height","100%");

                    $("#contentEditEvent div img").attr("src","#{resource['img/loader.gif']}");
                    $("#contentEditEvent div img").attr("width","80px");
                    $("#contentEditEvent div img").attr("height","80px");
                    $("#contentEditEvent div img").css("margin","auto");
                    });
                </h:outputScript>
            </h:panelGroup>


            <!-- event Modal -->
            <div class="modal fade" id="EditEventModal" tabindex="-1" role="dialog" aria-labelledby="wishModalLabel"
                 aria-hidden="true">
                <h:panelGroup layout="block" class="modal-dialog" id="editEventDialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="#{bundle.Close}">
                                <span aria-hidden="true">X</span></button>
                            <h4 class="modal-title" id="eventModalLabel">#{bundle.events_eventDetailTitle}</h4>
                        </div>
                        <h:form id="editForm" prependId="false" dir="#{langBean.location}">
                            <div class="modal-body">
                                <h:panelGroup layout="block" id="contentEditEvent">

                                    <p:messages closable="true" for="eventMessage" showSummary="true"/>

                                    <p>Name :
                                        <h:inputText id="eventNamee" value="#{eventsBean.editedUserEvent.name}"
                                                     required="true"
                                                     requiredMessage="#{bundle.userEventRequiredMessage_eventName}"
                                                     validatorMessage="#{bundle.userEventValidationMessage_eventName}">
                                            <f:validateLength minimum="3" maximum="50"/>
                                        </h:inputText><br></br>
                                        <h:message styleClass="label label-danger" for="eventNamee"/>
                                    </p>

                                    <p>Description :
                                        <h:inputText value="#{eventsBean.editedUserEvent.description}"
                                                     validatorMessage="#{bundle.userEventValidationMessage_description}">
                                            <f:validateLength maximum="500"/>
                                        </h:inputText>
                                        <br></br>
                                    </p>

                                    <p>event Type
                                        <h:selectOneMenu value="#{eventsBean.eventTypeDTOToEdit}"
                                                         styleClass="form-control"
                                                         converter="EventTypeControllerConverter">
                                            <f:selectItem itemLabel="#{bundle.userEvent_eventTypeItemLabel}" noSelectionOption="true"/>
                                            <f:selectItems value="#{eventsBean.eventTypes}" var="cat" itemValue="#{cat}"
                                                           itemLabel="#{cat.name}"/>
                                        </h:selectOneMenu>
                                    </p>

                                    <p>Place
                                        <h:selectOneMenu value="#{eventsBean.placeDTOToEdit}" styleClass="form-control"
                                                         converter="PlaceControllerConverter">
                                            <f:selectItem itemLabel="#{bundle.userEvent_PlaceItemLabel}" noSelectionOption="true"/>
                                            <f:selectItems value="#{eventsBean.places}" var="catt" itemValue="#{catt}"
                                                           itemLabel="#{catt.name}"/>
                                        </h:selectOneMenu>
                                    </p>

                                    <p>Date:
                                        <p:calendar id="eventDatee" value="#{eventsBean.editedUserEvent.date}"
                                                    mode="inline" locale="ar" navigator="true"
                                                    pattern="dd-MM-yyyy"
                                                    placeholder="#{bundle.userEvent_datePlaceholder}"
                                                    converterMessage="#{bundle.userEventConverterMessage_date}" required="true"
                                                    requiredMessage="#{bundle.userEventRequiredMessage_date}">
                                        </p:calendar>
                                        <h:message styleClass="label label-danger" for="eventDatee"/>
                                    </p>

                                </h:panelGroup>
                            </div>
                            <div class="modal-footer">

                                <h:commandLink actionListener="#{eventsBean.updateEvents()}" id="editEventBtn"
                                               validateClient="true" styleClass="btn btn-primary" value="#{bundle.Save}"
                                               style="width:67.2656px;">
                                    <f:ajax execute="@form" render="eventsBlock"/>
                                </h:commandLink>

                                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">#{bundle}</button>

                                <div style="clear: both">
                                    <p:messages for="updateEventMessage" showSummary="true" showDetail="true" autoUpdate="true" closable="true"/>
                                </div>
                            </div>
                        </h:form>
                    </div>
                </h:panelGroup>
            </div>

        </ui:define>

    </ui:composition>
</h:body>
</html>