<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <head>
        <meta http-equiv="refresh" content="5"/>
    </head>
    <body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define name="title">#{bundle.iwish_friendsPageTitle}</ui:define>
            <ui:define name="content">
                <c:if test="${empty userdata.friends}">
                    <div class="col_3of3">
                        <section class="box widget audio">

                            <p class="artist" align="center" style="vertical-align: central;font-size: 15px;margin-top:20px  "  >Their is no friends</p>
                        </section>
                    </div>
                </c:if>
                <h:form dir="#{langBean.location}">
                    <h:panelGroup layout="block" id="friendWishList" >
                        <!-- friend wishlist Modal -->
                        <div class="modal fade" id="friendWishListModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 50%; margin: auto;">
                            <h:panelGroup class="modal-dialog" id="friendWishListModalRender">
                                <div class="modal-content" >
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="#{bundle.Close}">
                                            <span aria-hidden="true">X</span></button>
                                        <h4 class="modal-title" id="myModalLabel">#{bundle.friends_wishListTitle}</h4>
                                    </div>
                                    <div class="modal-body" style="overflow: hidden" id="friendWishListModalBody">
                                        <c:if test="#{empty userdata.products}" >
                                            <div style="text-align: center; vertical-align: middle; padding:25px;">
                                                #{bundle.friends_noWishList}
                                            </div>
                                        </c:if>
                                        <c:if test="#{not empty userdata.products}">
                                            <c:forEach begin="0" end="#{userdata.products.size()-1}" step="1" var="index">

                                                <div class="col_1of3">
                                                    <section class="box widget find">
                                                        <div class="avatar">
                                                            <c:if test="#{not empty userdata.products.get(index).productDTO.image}">
                                                                <h:graphicImage value="#{imageUtil.getImageSrc(userdata.products.get(index).productDTO.image)}" width="181" height="118"/>
                                                            </c:if>
                                                            <c:if test="#{empty userdata.products.get(index).productDTO.image}">
                                                                <h:graphicImage library="images" name="catImage.jpg" width="180"  height="118"/>
                                                            </c:if>

                                                        </div>
                                                        <h2 class="album"><h:outputLabel styleClass="productNameForTooltip" id="ww#{index}" value="#{userdata.products.get(index).productDTO.name}" style="clear: both; font-family: Verdana, Tahoma; font-size: 12px; height: 25px; overflow:auto;"></h:outputLabel></h2>

                                                        <p:tooltip trackMouse="true" id="toolTipTrack" for="ww#{index}" style="padding: 0px; font-family: Verdana, Tahoma; font-size: 13px; z-index: 1700; width:35%">
                                                            Description : #{userdata.products.get(index).productDTO.description}
                                                            <br/>
                                                            Price : #{userdata.products.get(index).productDTO.price} EGP

                                                        </p:tooltip>

                                                        <h:commandButton value="#{bundle.friendsReserveGift_button}" styleClass="btn btn-primary btn-large btn-block"
                                                                         action="#{reserveGiftBean.setUserProductToReserve(userdata.products.get(index))}"
                                                                         onclick="setTimeout(function() {
                                                                                 $('#reserveGiftModal').modal('show');
                                                                             }, 1000);">
                                                            <f:ajax  render="reserveProductPanel" execute="@all"/>
                                                        </h:commandButton>

                                                        <h:outputScript>
                                                            $(".productNameForTooltip").hover(function(){
                                                            setTimeout(function(){ $(".ui-tooltip").css("z-index","1100"); }
                                                            , 250);
                                                            });
                                                        </h:outputScript>
                                                    </section>
                                                </div>

                                            </c:forEach>
                                        </c:if>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">#{bundle.Close}</button>
                                    </div>
                                </div>
                            </h:panelGroup>
                        </div>
                    </h:panelGroup>

                    <!--Reserve Gift Modal-->
                    <div class="modal fade" id="reserveGiftModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content" style=" border-left-width: 1px; width: 302px; left: 100px;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="#{bundle.Close}">
                                        <span aria-hidden="true">X</span></button>
                                    <h4 class="modal-title" id="myModalLabel">#{bundle.friendReserve_title}</h4>
                                </div>
                                <div class="modal-body" style="overflow: hidden">
                                    <h:panelGroup  id="reserveProductPanel" layout="block">
                                        <div class="col_1of3" style=" border-left-width: 1px; width: 280px; padding-right: 15px;">
                                            <section class="box widget find">
                                                <div class="avatar">
                                                    <c:if test="#{not empty reserveGiftBean.userProductToReserve.productDTO.image}">
                                                        <h:graphicImage value="#{imageUtil.getImageSrc(reserveGiftBean.userProductToReserve.productDTO.image)}" width="181" height="118"/>
                                                    </c:if>
                                                    <c:if test="#{empty reserveGiftBean.userProductToReserve.productDTO.image}">
                                                        <h:graphicImage library="images" name="catImage.jpg" width="180"  height="118"/>
                                                    </c:if>

                                                </div>
                                                <h2 class="album"><h:outputLabel value="#{reserveGiftBean.userProductToReserve.productDTO.name}" style="clear: both; font-family: Verdana, Tahoma; font-size: 12px; height: 25px;"></h:outputLabel></h2>

                                                <div>
                                                    <h:panelGroup layout="block" id="reserveGiftBtn">
                                                        <h:outputLabel value="#{bundle.friendReserve_priceLabel}"/>
                                                        <h:outputLabel value="#{reserveGiftBean.userProductToReserve.productDTO.price}"/>
                                                        <h:outputLabel value="#{bundle.priceType}"/>
                                                        <br/>
                                                        <h:outputLabel value="#{bundle.friendReserve_remainLabel}"/>
                                                        <h:outputLabel value="#{reserveGiftBean.remain}"/>
                                                        <h:outputLabel value="#{bundle.priceType}"/>
                                                        <br/>
                                                        <h:outputLabel value="#{bundle.friendReserve_participateLabel}"/>
                                                        <h:inputText value="#{reserveGiftBean.participate}"/>
                                                        <br/>
                                                        <h:outputLabel value="#{bundle.friendReserve_commentLabel}"/>
                                                        <h:inputText value="#{reserveGiftBean.comment}"/>
                                                        <br/>


                                                        <h:outputLabel id="content" value="#{bundle.viewPartnerLabel}  " styleClass="viewPartner" style="clear: both; font-family: Verdana, Tahoma; font-size: 12px; height: 25px;">

                                                            <h:outputScript>
                                                                $(document).ready(function(){
                                                                $(".viewPartner").hover(function(){
                                                                setTimeout(function(){ $(".ui-tooltip").css("z-index","1700"); }
                                                                , 350);
                                                                });
                                                                })
                                                            </h:outputScript>
                                                            <!--<h:outputText value="Primefaces" />-->
                                                        </h:outputLabel>
                                                        <p:tooltip id="toolTipContent" for="content">
                                                            <c:forEach items="#{reserveGiftBean.productReserverDTOs}" var="productreserver">
                                                                <p:outputLabel value="#{bundle.friendReservePartner_name}"/>
                                                                <p:outputLabel value=" #{productreserver.userDTO.name} "/>
                                                                <h:graphicImage value="#{imageUtil.getImageSrc(productreserver.userDTO.picture)}" height="40" width="40" style="margin-right: 40;margin-left: 25px;"/>
                                                                <br/>
                                                                <p:outputLabel value="#{bundle.friendReservePartner_comment}"/>
                                                                <p:outputLabel value="#{productreserver.comment}"/>
                                                                <hr/>
                                                            </c:forEach>
                                                        </p:tooltip>

                                                        <span hidden="hidden">to add space</span>
                                                        <h:commandButton type="submit" disabled="#{reserveGiftBean.disabledReserveGiftWithOthersBtn}" value="#{bundle.friendReserve_withOthersButton}" styleClass="btn btn-default" action="#{reserveGiftBean.reserveGiftWithOthers(reserveGiftBean.userProductToReserve)}" >
                                                            <f:ajax render="reserveProductPanel " execute="reserveGiftBtn"/>
                                                        </h:commandButton>

                                                        <h:commandButton disabled="#{reserveGiftBean.disabledReserveGiftAlonBtn}" value="#{bundle.friendReserve_aloneButton}" action="#{reserveGiftBean.reserveGift(reserveGiftBean.userProductToReserve)}" styleClass="btn btn-default" >
                                                            <f:ajax render="reserveProductPanel" execute="reserveGiftBtn" />
                                                        </h:commandButton>

                                                        <h:commandButton disabled="#{reserveGiftBean.disabledCancelReserveGiftBtn}"  value="#{bundle.Cancel}" action="#{reserveGiftBean.cancelReservation(reserveGiftBean.userProductToReserve)}" styleClass="btn btn-default" >
                                                            <f:ajax  render="reserveProductPanel" execute="reserveGiftBtn"/>
                                                        </h:commandButton>

                                                    </h:panelGroup>
                                                </div>
                                            </section>
                                        </div>
                                    </h:panelGroup>
                                </div>
                                <div class="modal-footer">
                                    <div style="clear: both">
                                        <p:messages id="messages" showSummary="true" autoUpdate="true" closable="true" />
                                    </div>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">#{bundle.Close}</button>

                                </div>
                            </div>
                        </div>
                    </div>


                    <c:forEach items="#{userdata.friends}" var="friend">
                        <h:panelGroup layout="block" class="friend_data">
                            <div class="col_1of3">
                                <section class="box widget find">
                                    <div class="avatar">
                                        <f:subview id="def#{friend.id}" rendered="#{friend.picture eq null}">
                                            <!--<h:graphicImage library="img"  name="profile.jpg" />-->
                                        </f:subview>

                                        <f:subview id="img#{friend.id}" rendered="#{friend.picture ne null}">
                                            <h:graphicImage value="#{imageUtil.getImageSrc(friend.picture)}" width="178.141px" height="178.141px" style="width: 178.141px; height: 178.141px;"/>
                                        </f:subview>

                                    </div>
									
									<!-- height 12px was added to avoid bad alignement of friends when there is a friend with big name -->
                                    <h2 class="album" style="height:12px;"><h:outputText value="#{friend.trimmedName}"/></h2>

                                    <!--                                    oncomplete="$('#friendWishListModal').modal('show');"-->

                                    <h:commandButton action="#{userdata.fetchProducts(friend)}"  
                                                     onclick="$('#friendWishListModal').modal('show');"
                                                     styleClass="btn btn-primary btn-large btn-block friend_view_wishlist"  value="#{bundle.friends_viewWishListButton}" >
                                        <f:ajax  render="friendWishListModalRender"/>
                                    </h:commandButton>

                                </section>
                            </div>


                            <p></p>

                        </h:panelGroup>
                    </c:forEach>
                </h:form>

                <h:outputScript>


                    var loadingHTMLForEventModal;   


                    $(document).ready(function(){
                    loadingHTMLForEventModal = "<div><img/></div>";
                    })

                    $( ".friend_view_wishlist" ).hover(function() {
                    $("#friendWishListModalBody").html("");
                    $("#friendWishListModalBody").html(loadingHTMLForEventModal);
                    $("#friendWishListModalBody div").css("text-align","center");
                    $("#friendWishListModalBody div").css("vertical-align","middle");
                    $("#friendWishListModalBody div").css("width","100%");
                    $("#friendWishListModalBody div").css("height","100%");

                    $("#friendWishListModalBody div img").attr("src","#{resource['img/loader.gif']}");
                    $("#friendWishListModalBody div img").attr("width","80px");
                    $("#friendWishListModalBody div img").attr("height","80px");
                    $("#friendWishListModalBody div img").css("margin","auto");
                    });
                </h:outputScript>


                <!-- JavaScript jQuery code from Bootply.com editor -->

                <script type="text/javascript">

                    $(document).ready(function() {

                        $('#openBtn').click(function() {
                            $('#myModal').modal({show: true})
                        });


                        $('.modal').on('hidden.bs.modal', function(event) {
                            $(this).removeClass('fv-modal-stack');
                            $('body').data('fv_open_modals', $('body').data('fv_open_modals') - 1);
                        });


                        $('.modal').on('shown.bs.modal', function(event) {

                            // keep track of the number of open modals

                            if (typeof ($('body').data('fv_open_modals')) == 'undefined')
                            {
                                $('body').data('fv_open_modals', 0);
                            }


                            // if the z-index of this modal has been set, ignore.

                            if ($(this).hasClass('fv-modal-stack'))
                            {
                                return;
                            }

                            $(this).addClass('fv-modal-stack');

                            $('body').data('fv_open_modals', $('body').data('fv_open_modals') + 1);

                            $(this).css('z-index', 1040 + (10 * $('body').data('fv_open_modals')));

                            $('.modal-backdrop').not('.fv-modal-stack')
                                    .css('z-index', 1039 + (10 * $('body').data('fv_open_modals')));


                            $('.modal-backdrop').not('fv-modal-stack')
                                    .addClass('fv-modal-stack');

                        });


                    });

                </script>
            </ui:define>


        </ui:composition>
    </body>
</html>
