<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <meta http-equiv="refresh" content="5"/>
</h:head>
<h:body>
    <ui:composition template="/WEB-INF/template/template.xhtml">
        <ui:define name="title">IWish - Home Page</ui:define>
        <ui:define name="content">
            <!-- Modal -->
            <h:panelGroup layout="block" class="modal fade" id="eventPageModel" tabindex="-1" role="dialog"
                          aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <h:panelGroup class="modal-content" id="eventPageModaal" layout="block">
                        <div class="modal-header" style="overflow: auto;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="#{bundle.Close}">
                                <span aria-hidden="true">X</span></button>
                            <h4 class="modal-title" id="myModalLabel">#{eventPageTemplate.userEventDTO.name}</h4>
                        </div>
                        <div class="modal-body" style="overflow: hidden;" id="eventPageModalBody">
                            <c:if test="#{empty eventPageTemplate.userEventDTO}">
                                <div style="text-align: center;  vertical-align: middle; width:100%; height: 100%;">
                                    <h:graphicImage library="img" name="loader.gif" width="80px" height="80px"
                                                    style="margin: auto;"/>
                                </div>
                            </c:if>
                            <c:if test="#{not empty eventPageTemplate.userEventDTO}">
                                <div id="body">
                                <div style="color:#fff; background-color: #d55; width:107px; padding-left: 4px;">#{bundle.userHome_sendGreeting}</div>
                                    <div style="border: 1px solid #d55; padding: 10px;">
                                    <div id="send_greeting">


                                        <h:form prependId="false" id="eventModalPageForm" dir="#{langBean.location}">

                                            <p:inputText cols="50" rows="10" placeholder="#{bundle.userHome_greeting}"
                                                         value="#{eventPageTemplate.sentGreeting}" id="greeting"
                                                         style="display: inline; width:62%;" validatorMessage="#{bundle.userHomeValidationMessage_SendGreeting}"
                                                    maxlength="42" >
                                            </p:inputText>

                                            <h:commandLink action="#{eventPageTemplate.sendGreeting()}"
                                                             styleClass="btn btn-primary" style="display: inline; margin-left: 5px;">
                                                <h:graphicImage library="img" name="send.png" width="15" height="15"/>
                                                <f:ajax execute="greeting" render="previous_greeting"/>
                                            </h:commandLink>
                                        </h:form>
                                    </div>
                                    <br/>
                                    <c:if test="#{not empty eventPageTemplate.suggestionForGreeting}">
                                        <div id="suggest_greeting">
                                            <h:form id="suggest_greeting_form" dir="#{langBean.location}">
                                                <div style="font-size: 13px; font-family: Verdana;">#{bundle.userHome_suggestGreetingLabel}</div>
                                                <h:panelGroup layout="span" id="suggestion"
                                                              style="color:#00F; ">#{eventPageTemplate.suggestionForGreeting}

                                                </h:panelGroup>
                                                <br/>
                                                <h:commandLink action="#{eventPageTemplate.nextSuggestionForGreeting}"
                                                                 styleClass="btn btn-primary" style="display: inline;" id="getAnotherSuggestionForGreeting">
                                                    <h:graphicImage library="img" name="refresh.png" width="15" height="15"/>
                                                    <f:ajax render="@form"/>
                                                </h:commandLink>
                                                <h:commandLink action="#{eventPageTemplate.sendSuggestedGreeting()}"
                                                               styleClass="btn btn-primary" style="display: inline;" id="getAnotherSuggestionForGreeting1">
                                                    <h:graphicImage library="img" name="send.png" width="15" height="15"/>
                                                    <f:ajax execute="@form" render="previous_greeting"/>
                                                </h:commandLink>
                                            </h:form>
                                        </div>
                                    </c:if>
                                    </div>
                                                <br/>
                                        <h:panelGroup layout="block" id="suggest_item">
                                            <c:if test="#{not empty eventPageTemplate.suggestedProduct}">
                                            <c:if test="#{empty eventPageTemplate.getRandomProduct(eventPageTemplate.userEventDTO.userDTO)}">
                                                <div style="background: #dd5555; color: #fff; width:67px; padding-left: 5px;">#{bundle.userHome_getProduct}</div>
                                                <h:form dir="#{langBean.location}" id="suggest_gift_form" style="border:1px solid #dd5555; padding: 9px; display: inline-table;">
                                                    <h:panelGroup layout="block" id="divToRenderSuggestedElement" style="margin-top: -20px; display: inline-flex;">
                                                        <c:if test="#{eventPageTemplate.dontRenderSuggest eq false}">

                                                            <br/>
                                                            <div style="display: inline;">
                                                                <h:graphicImage
                                                                        value="#{imageUtil.getImageSrc(eventPageTemplate.suggestedProduct.image)}"
                                                                        width="35" height="35"/>
                                                            </div>
                                                            <div id="suggestion1"
                                                                 style="color:#00F; height: 22px; width: 58%; overflow: hidden; display: inline;
                                                                         margin-left: 8px; margin-top: 7px;
                                                                 ">#{eventPageTemplate.suggestedProduct.name}</div>

                                                        </c:if>
                                                        <c:if test="#{eventPageTemplate.dontRenderSuggest eq true}">
                                                            <div style="text-align: center; border:#f00 1px solid;">
                                                                <span>#{bundle.userHome_noProductMessage}</span>
                                                                 #{eventPageTemplate.min}
                                                                <span>#{bundle.priceType}</span>
                                                                <span>#{bundle.andText}</span>
                                                                 #{eventPageTemplate.max}
                                                                <span>#{bundle.priceType}</span>
                                                            </div>
                                                            <br/>
                                                        </c:if>
                                                    </h:panelGroup>
                                                    <h:panelGrid columns="1" style="margin-bottom: 10px; margin-left: 10px; display: inherit;">
                                                        <h:outputText id="displayRange"
                                                                      value="#{bundle.betweenText} #{eventPageTemplate.min} #{bundle.priceType} #{bundle.andText} #{eventPageTemplate.max} #{bundle.priceType} "/>
                                                        <p:slider for="txt6,txt7" display="displayRange"
                                                                  style="width: 200px" range="true"
                                                                  displayTemplate="#{bundle.betweenText} {min}#{bundle.priceType} #{bundle.andText} {max}#{bundle.priceType}" minValue="0"
                                                                  maxValue="9000"/>
                                                    </h:panelGrid>
                                                    <h:inputHidden id="txt6" value="#{eventPageTemplate.min}"/>
                                                    <h:inputHidden id="txt7" value="#{eventPageTemplate.max}"/>

                                                    <h:commandLink action="#{eventPageTemplate.suggestNewItem()}"
                                                                     styleClass="btn btn-primary" style="display: inherit;
                                                                     margin-left: 18px; margin-top: 14px;
                                                                     width: 48px; height: 30px;">
                                                        <h:graphicImage  library="img" name="refresh.png" width="15" height="15"/>
                                                        <f:ajax execute="@form" render="suggest_gift_form:divToRenderSuggestedElement"/>
                                                    </h:commandLink>

                                                </h:form>
                                            </c:if>
                                            </c:if>
                                            <c:if test="#{not empty eventPageTemplate.suggestedFromWishList}">
                                                <div style="background: #dd5555; color: #fff; width:67px; padding-left: 5px;">Get him</div>
                                                <div style="border: 1px solid #dd5555;">
                                                    <div>
                                                        <h:graphicImage
                                                                value="#{imageUtil.getImageSrc(eventPageTemplate.suggestedFromWishList.image)}"
                                                                width="35" height="35"/>
                                                    </div>
                                                    <div id="suggestion11"
                                                         style="color:#00F; height: 41px; width: 60%; overflow: hidden; display: inline; ">#{eventPageTemplate.suggestedFromWishList.name}</div>
                                                </div>
                                            </c:if>

                                        </h:panelGroup>
                                    <br/>


                                    <div style="color:#FFF; background-color:#dd5555; width:140px; padding-left:8px; clear:both;">#{bundle.userHome_previousGreeting}</div>
                                    <h:panelGroup id="previous_greeting" layout="block" style="border: 1px solid #dd5555;">
                                        <c:if test="#{empty eventPageTemplate.eventCommentsDTOs}">
                                            <div style="width:100%; height: 100%; text-align: center; vertical-align: middle;">#{bundle.userHome_noComment}</div>
                                        </c:if>
                                        <c:if test="#{not empty eventPageTemplate.eventCommentsDTOs}">
                                        <c:forEach items="#{eventPageTemplate.eventCommentsDTOs}" var="comment">

                                            <div style="height: 34px; display: inline-flex;" class="commentStyle">
                                                <div style="display: inline-flex;">
                                                    <div>
                                                        <h:graphicImage
                                                                value="#{imageUtil.getImageSrc(comment.user.picture)}"
                                                                width="30" height="30" style="margin-left: 2px; margin-top: 2px; margin-right: 2px;"/>
                                                    </div>
                                                    <div style="font-weight: bold; color: blue; margin-top: 5px; margin-left:3px; width:180px; overflow:hidden;">#{comment.user.name}</div>
                                                </div>
                                                <div style="display: inline; width:350px; height:auto; overflow:hidden; margin-top:6px;">#{comment.content}</div>
                                            </div>
                                        </c:forEach>
                                        </c:if>
                                    </h:panelGroup>
                                </div>
                            </c:if>
                        </div>
                    </h:panelGroup>
                </div>
            </h:panelGroup>














































            <c:if test="#{empty eventsBean.friendsEvent}">
                <div class="col_3of3">
                    <section class="box widget audio">
                        <p class="artist" align="center"
                           style="vertical-align: central;font-size: 15px; padding:25px;">#{bundle.thereIsNoFeed}</p>
                    </section>
                </div>
            </c:if>


            <h:outputScript>

            </h:outputScript>


            <c:forEach begin="0" end="#{eventsBean.cachedFriendsEvents.size()-1}" step="1" var="index">


                <div class="col_3of3">
                    <section class="box widget audio">
                        <div class="image">

                            <h:form dir="#{langBean.location}">
                                <h:commandLink action="#{eventPageTemplate.getEvent(eventsBean.cachedFriendsEvents.get(index))}" style="cursor: pointer;"
                                               styleClass="loadloading showModal">
                                    <h:graphicImage library="img" name="event.png"
                                                    style="height: 85px; width: 85px; margin-top: 18px; margin-left: 10px;"
                                                    styleClass="loadloading"/>
                                    <f:ajax render="eventPageModaal eventModalPageForm suggest_gift_form suggest_greeting_form"/>
                                </h:commandLink>
                            </h:form>

                            <h:outputScript>

                            </h:outputScript>

                        </div>
                        <h:panelGroup id="event#{index}" layout="block" class="details hideOverFlow height112 paddingBottom10">
                            <h2 class="album" style="font-size: 1.35em;">#{eventsBean.cachedFriendsEvents.get(index).userDTO.name}</h2>
                            <p class="artist"><span style="font-size: 1.25em;">#{bundle.hasText} #{eventsBean.cachedFriendsEvents.get(index).eventTypeDTO.name}</span><br/>
                              <span style="font-size: 1.25em;">#{bundle.nameText} #{eventsBean.cachedFriendsEvents.get(index).name}</span><br/>
                              <span style="font-size: 1.25em;">#{bundle.inText} #{eventsBean.cachedFriendsEvents.get(index).date}</span>
                            </p>
                        </h:panelGroup>
                        <p:tooltip for="event#{index}" id="toolTipTrack"  value="#{eventsBean.cachedFriendsEvents.get(index).description}" trackMouse="true" />
                    </section>
                </div>
            </c:forEach>


            <h:outputScript>
                $(".showModal").attr("data-toggle", "modal");
                $(".showModal").attr("data-target", "#eventPageModel");

                var loadingHTMLForEventModal;


                $(document).ready(function(){
                loadingHTMLForEventModal = "<div><img/></div>";
                })

                $( ".loadloading" ).hover(function() {
                $("#eventPageModalBody").html("");
                $("#eventPageModalBody").html(loadingHTMLForEventModal);
                $("#eventPageModalBody div").css("text-align","center");
                $("#eventPageModalBody div").css("vertical-align","middle");
                $("#eventPageModalBody div").css("width","100%");
                $("#eventPageModalBody div").css("height","100%");

                $("#eventPageModalBody div img").attr("src","#{resource['img/loader.gif']}");
                $("#eventPageModalBody div img").attr("width","80px");
                $("#eventPageModalBody div img").attr("height","80px");
                $("#eventPageModalBody div img").css("margin","auto");
                $("#myModalLabel").html("");
                });
            </h:outputScript>
        </ui:define>

    </ui:composition>
</h:body>
</html>