<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <head>

    </head>
    <body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define name="title">Profile</ui:define>
            <ui:define name="content">
                <div class="">
                    <article class="box post">
                        <div class="image" style="width: 100%">

                        </div>
                        #{userdata.setEditPassword(false)}
                        #{userdata.setEditProfile(false)}
                        <h:form dir="#{langBean.location}">
                            <p:messages id="messages" showSummary="true" autoUpdate="true" closable="true" />
                            <!-- edit profile -->
                            <c:if test="#{userdata.editProfile}">
                                <div class="details" style="min-height: 500px">
                                    <h2>#{bundle.About}</h2>

                                    <p:confirmDialog global="true" modal="true" >
                                        <p:commandButton value="#{bundle.yesButton}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                        <p:commandButton value="#{bundle.noButton}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                    </p:confirmDialog>

                                    <h:outputScript>
                                        $(document).ready(function(){
                                        $(".ui-dialog-titlebar").css("background","#ebebeb");
                                        $(".ui-dialog-titlebar").css("border","none");

                                        $(".ui-dialog-content").css("border","none");


                                        $(".ui-confirmdialog-yes").css("background","#dd5555");
                                        $(".ui-confirmdialog-yes").css("color","#fff");
                                        $(".ui-confirmdialog-yes").css("font-weight","100");
                                        $(".ui-confirmdialog-yes").css("border","none");

                                        $(".ui-confirmdialog-no").css("background","#ebebeb");
                                        $(".ui-confirmdialog-no").css("color","#000");
                                        $(".ui-confirmdialog-no").css("font-weight","100");
                                        $(".ui-confirmdialog-no").css("border","none");

                                        $(".ui-dialog-buttonpane").css("border","none");
                                        });


                                    </h:outputScript>

                                    <div class="col_2of3">

                                        <h:outputLabel for="name" value="Name:"/>

                                        <p:inputText id="name" value="#{userdata.user.name}" required="true" label="text" styleClass="form-control" validatorMessage="#{bundle.userProfileValidationName}">
                                            <f:validateLength minimum="3" maximum="50"/>
                                        </p:inputText>
                                        <h:message styleClass="label label-danger" for="name"/>


                                        <h:outputLabel for="email" value="#{bundle.emailLabel}"/>
                                        <p:inputText id="email" value="#{userdata.user.email}" type="email" required="true" label="text" styleClass="form-control"
                                                     requiredMessage="#{bundle.uerProfileRequiredMessage_Email}"
                                                     validatorMessage="#{bundle.uerProfileValidationMessage_Email}">
                                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
                                        </p:inputText>
                                        <h:message styleClass="label label-danger" for="email"/>

                                        <h:outputLabel for="birthday" value="#{bundle.birthdayLabel}"/>

                                        <p>
                                            <p:calendar id="birthday" value="#{userdata.user.birthday}" pattern="dd-MM-yyyy"
                                                        placeholder="#{bundle.userProfile_birthdayPlaceHolder}"
                                                        converterMessage="#{bundle.uerProfileValidationMessage_Birthday}" required="true"
                                                        requiredMessage="#{bundle.uerProfileRequiredMessage_Birthday}">
                                            </p:calendar>
                                            <h:message styleClass="label label-danger" for="birthday"/>
                                        </p>
                                        <c:if test="#{not userdata.editPassword}">
                                            <p:commandButton validateClient="false" action="#{userdata.showEditPassword}" value="#{bundle.userProfile_editPassword}" styleClass="btn btn-primary"  >
                                                <f:ajax render="@form" execute="@form" />
                                            </p:commandButton>
                                        </c:if>
                                        <c:if test="#{not userdata.editPassword}">
                                            <br/>
                                            <br/>

                                            <p:commandButton validateClient="true" value="#{bundle.Save}"  styleClass="btn btn-primary" actionListener="#{userdata.saveUserProfile}">
                                                <p:confirm header="#{bundle.userProfileConfirmationMessage_editPasswordHeader}" message="#{bundle.userProfileConfirmationMessage_editPassword}" icon="ui-icon-alert" />
                                            </p:commandButton>
                                            <p:commandButton validateClient="false" immediate="true"  value="#{bundle.Cancel}" styleClass="btn btn-default" action="#{userdata.setEditProfile(false)}">
                                                <f:ajax render="@form"  immediate="true"/>
                                            </p:commandButton>
                                        </c:if>    
                                        <c:if test="#{userdata.editPassword}">

                                            <p>

                                                <h:outputLabel for="password1" value="#{bundle.userProfile_newPasswordLabel}"/>
                                                <h:message for="password1" styleClass="label label-danger"/>
                                                <h:inputSecret id="password1" value="#{userdata.newPassword1}" required="true" requiredMessage="#{bundle.userProfileRequiredMessage_password}" styleClass="form-control" validatorMessage="#{bundle.uerProfileValidationMessage_password}">
                                                    <f:validateLength for="password1" minimum="6" maximum="100"  />
                                                </h:inputSecret>

                                            </p>

                                            <p>
                                                <h:outputLabel for="password2" value="#{bundle.userProfile_reEnterPasswordLabel}"/>
                                                <h:message for="password2" styleClass="label label-danger" />
                                                <h:inputSecret id="password2" value="#{userdata.newPassword2}" required="true" requiredMessage="#{bundle.userProfileRequiredMessage_passwordRepeat}" styleClass="form-control"  validatorMessage="#{bundle.userProfileValidationMessage_password}">
                                                    <f:validateLength for="password2" minimum="6" maximum="100"  />
                                                    <!--<f:validateRegex pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{6,15})$" />-->
                                                </h:inputSecret>
                                            </p>

                                            <p:commandButton value="#{bundle.userProfile_cancelEditPassword}"   validateClient="false" immediate="true"  styleClass="btn btn-default" action="#{userdata.setEditPassword(false)}" >
                                                <f:ajax render="@form" immediate="true" />
                                            </p:commandButton>
                                            <br/>
                                            <p:commandButton validateClient="true" value="#{bundle.userProfile_saveChanges}"  styleClass="btn btn-primary" actionListener="#{userdata.saveUserProfile}">
                                                <p:confirm header="#{bundle.userProfileConfirmationMessage_header}" message="#{bundle.userProfileConfirmationMessage_message}" icon="ui-icon-alert" />
                                            </p:commandButton>
                                            
                                             <p:commandButton validateClient="false" immediate="true"  value="#{bundle.Cancel}" styleClass="btn btn-default" action="#{userdata.setEditProfile(false)}">
                                                <f:ajax render="@form"  immediate="true"/>
                                            </p:commandButton>

                                        </c:if>


                                        <br/>
                                    </div>

                                </div>
                            </c:if>

                            <!-- view profile -->

                            <c:if test="#{not userdata.editProfile}">
                                <div class="details" style="min-height: 225px">
                                    <h2>#{bundle.About}</h2>


                                    <h:commandButton value="#{bundle.Edit}"  styleClass="btn btn-primary" action="#{userdata.editProfile}">
                                        <f:ajax render="@form" execute="@form"/>
                                    </h:commandButton>

                                    <div class="col_2of3">

                                        <h:outputLabel for="nameView" value="#{bundle.nameText}"/><br/>
                                        <h:outputText id="nameView" value="#{userdata.user.name}" required="true" label="text"/>


                                        <br/>
                                        <h:outputLabel for="emailView" value="#{bundle.emailLabel}"/><br/>
                                        <h:outputText id="emailView" value="#{userdata.user.email}" type="email" label="text"/>


                                        <br/>
                                        <h:outputLabel for="birthdayView" value="#{bundle.birthdayLabel}"/><br/>
                                        <h:outputText id="birthdayView" value="#{userdata.user.birthday}" required="true" label="text">
                                            <f:convertDateTime pattern="dd-MM-yyyy"/>
                                        </h:outputText>


                                    </div>

                                </div>
                            </c:if>

                        </h:form>


                    </article>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
