<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <head>

    </head>
    <body>
        <ui:composition template="/WEB-INF/template/template.xhtml">
            <ui:define name="title">#{bundle.wishListPageTitle}</ui:define>
            <ui:define name="content">
                <h:form id="wishes-form-page" dir="#{langBean.location}">
                <c:if test="${empty wishList.refreshWishList()}">
                    <div class="col_3of3">
                        <section class="box widget audio">

                            <p class="artist" align="center" style="vertical-align: central;font-size: 15px; padding:25px;"  >#{bundle.theirIsNoWishListMessage}</p>
                        </section>
                    </div>
                </c:if>

                <h:form prependId="false" id="wishes-form" dir="#{langBean.location}">
                    <c:forEach begin="0" end="#{wishList.wishList.size()-1}" step="1" var="index">

                        <div class="col_1of3">
                            <section class="box widget find">
                                <div class="avatar">
                                    <c:if test="#{not empty wishList.wishList.get(index).productDTO.image}">
                                        <h:graphicImage value="#{imageUtil.getImageSrc(wishList.wishList.get(index).productDTO.image)}" width="181" height="118"/>
                                    </c:if>
                                    <c:if test="#{empty wishList.wishList.get(index).productDTO.image}">
                                        <h:graphicImage library="images" name="catImage.jpg" width="180"  height="118"/>
                                    </c:if>

                                </div>
                                <h2 class="album"><h:outputLabel id ="labelOfProduct#{index}" value="#{wishList.wishList.get(index).productDTO.name}" style="clear: both; font-family: Verdana, Tahoma; font-size: 12px; height: 25px; overflow:auto;"></h:outputLabel></h2>

                                <p:tooltip trackMouse="true" id="toolTipTrack" for="labelOfProduct#{index}" style="padding: 0px; font-family: Verdana, Tahoma; font-size: 13px; z-index: 1700; width:35%">
                                    #{bundle.descriptionLabel} #{wishList.wishList.get(index).productDTO.description}
                                    <br/>
                                    #{bundle.priceLabel} #{wishList.wishList.get(index).productDTO.price}
                                </p:tooltip>

                                <h:commandLink value="#{bundle.Delete}" class="btn btn-primary btn-large btn-block" action="#{wishList.deleteProduct(wishList.wishList.get(index))}">
                                    <f:ajax execute="@form" render="@form"/>
                                </h:commandLink>
                                <h:commandButton value="#{bundle.Received}" class="btn btn-primary btn-large btn-block received-btn" action="#{wishList.confirmReceivingGift(wishList.wishList.get(index))}" disabled="#{wishList.isDiabled(wishList.wishList.get(index))}" >
                                    <f:ajax execute="@form" render="@form"/>
                                </h:commandButton>

                            </section>
                        </div>

                    </c:forEach>
                    <h:outputScript>
                        $(".received-btn").click(function(){
                           $(this).disable(true);
                        });
                    </h:outputScript>
                </h:form>
                </h:form>                
            </ui:define>
        </ui:composition>
    </body>
</html>
