<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="StoreOwnerCreateDlg" widgetVar="StoreOwnerCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateStoreOwnerTitle}">
            <h:form id="StoreOwnerCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{storeOwnerController.selected != null}">

                        <p:outputLabel value="#{bundle.CreateStoreOwnerLabel_name}" for="name" />
                        <p:inputText id="name" value="#{storeOwnerController.selected.name}" title="#{bundle.CreateStoreOwnerTitle_name}" required="true" requiredMessage="#{bundle.CreateStoreOwnerRequiredMessage_name}" validatorMessage="#{bundle.CreateStoreOwnerValidationMessage_name}">
                            <f:validateLength minimum="3" maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.CreateStoreOwnerLabel_email}" for="email" />
                        <p:inputText id="email" value="#{storeOwnerController.selected.email}" title="#{bundle.CreateStoreOwnerTitle_email}" required="true" requiredMessage="#{bundle.CreateStoreOwnerRequiredMessage_email}" validatorMessage="#{bundle.CreateStoreOwnerValidationMessage_email}">
                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                        </p:inputText>
                        <p:outputLabel value="#{bundle.CreateStoreOwnerLabel_firstName}" for="firstName" />
                        <p:inputText id="firstName" value="#{storeOwnerController.selected.firstName}" title="#{bundle.CreateStoreOwnerTitle_firstName}" validatorMessage="#{bundle.CreateStoreOwnerValidationMessage_firstName}">
                            <f:validateLength minimum="3" maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.CreateStoreOwnerLabel_lastName}" for="lastName" />
                        <p:inputText id="lastName" value="#{storeOwnerController.selected.lastName}" title="#{bundle.CreateStoreOwnerTitle_lastName}" validatorMessage="#{bundle.CreateStoreOwnerValidationMessage_lastName}">
                            <f:validateLength minimum="3" maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.CreateStoreOwnerLabel_password}" for="password" />
                        <p:inputText id="password" value="#{storeOwnerController.selected.password}" title="#{bundle.CreateStoreOwnerTitle_password}" required="true" requiredMessage="#{bundle.CreateStoreOwnerRequiredMessage_password}" validatorMessage="#{bundle.CreateStoreOwnerValidationMessage_password}">
                            <f:validateRegex pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{6,15})$" />
                        </p:inputText>
                        <p:outputLabel value="#{bundle.CreateStoreOwnerLabel_birthday}" for="birthday" />
                        <p:calendar id="birthday" pattern="MM/dd/yyyy" value="#{storeOwnerController.selected.birthday}" title="#{bundle.EditStoreOwnerTitle_birthday}" required="true" requiredMessage="#{bundle.EditStoreOwnerRequiredMessage_birthday}" showOn="button"/>
                        <!--<p:outputLabel value="#{bundle.CreateStoreOwnerLabel_picture}" for="picture" />-->
                        <!--<p:inputText id="picture" value="#{storeOwnerController.selected.picture}" title="#{bundle.CreateStoreOwnerTitle_picture}" />-->
                    </p:panelGrid>
                    <p:commandButton actionListener="#{storeOwnerController.create}" value="#{bundle.Save}" update="display,:StoreOwnerListForm:datalist,:growl" oncomplete="handleSubmit(args,'StoreOwnerCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="StoreOwnerCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
