<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="StoreOwnerEditDlg" widgetVar="StoreOwnerEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditStoreOwnerTitle}">
            <h:form id="StoreOwnerEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{storeOwnerController.selected != null}">

                        <p:outputLabel value="#{bundle.EditStoreOwnerLabel_name}" for="name" />
                        <p:inputText id="name" value="#{storeOwnerController.selected.name}" title="#{bundle.EditStoreOwnerTitle_name}" required="true" requiredMessage="#{bundle.EditStoreOwnerRequiredMessage_name}" validatorMessage="#{bundle.EditStoreOwnerValidationMessage_name}">
                            <f:validateLength minimum="3" maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditStoreOwnerLabel_email}" for="email" />
                        <p:inputText id="email" value="#{storeOwnerController.selected.email}" title="#{bundle.EditStoreOwnerTitle_email}" required="true" requiredMessage="#{bundle.EditStoreOwnerRequiredMessage_email}" validatorMessage="#{bundle.EditStoreOwnerValidationMessage_email}">
                            <f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditStoreOwnerLabel_firstName}" for="firstName" />
                        <p:inputText id="firstName" value="#{storeOwnerController.selected.firstName}" title="#{bundle.EditStoreOwnerTitle_firstName}" validatorMessage="#{bundle.EditStoreOwnerValidationMessage_firstName}">
                            <f:validateLength minimum="3" maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditStoreOwnerLabel_lastName}" for="lastName" />
                        <p:inputText id="lastName" value="#{storeOwnerController.selected.lastName}" title="#{bundle.EditStoreOwnerTitle_lastName}" validatorMessage="#{bundle.EditStoreOwnerValidationMessage_lastName}">
                            <f:validateLength minimum="3" maximum="50"/>
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditStoreOwnerLabel_password}" for="password" />
                        <p:inputText id="password" value="#{storeOwnerController.selected.password}" title="#{bundle.EditStoreOwnerTitle_password}" required="true" requiredMessage="#{bundle.EditStoreOwnerRequiredMessage_password}" validatorMessage="#{bundle.EditStoreOwnerValidationMessage_password}">
                            <f:validateLength for="password" minimum="6" maximum="100"  />
                            <!--<f:validateRegex pattern="(?!^[0-9]*$)(?!^[a-zA-Z]*$)^([a-zA-Z0-9]{6,15})$" />-->
                        </p:inputText>
                        <p:outputLabel value="#{bundle.EditStoreOwnerLabel_birthday}" for="birthday" />
                        <p:calendar id="birthday" pattern="MM/dd/yyyy" value="#{storeOwnerController.selected.birthday}" title="#{bundle.EditStoreOwnerTitle_birthday}" required="true" requiredMessage="#{bundle.EditStoreOwnerRequiredMessage_birthday}" showOn="button"/>
                        <!--<p:outputLabel value="#{bundle.EditStoreOwnerLabel_picture}" for="picture" />-->
                        <!--<p:inputText id="picture" value="#{storeOwnerController.selected.picture}" title="#{bundle.EditStoreOwnerTitle_picture}" />-->
                    </p:panelGrid>
                    <p:commandButton actionListener="#{storeOwnerController.update}" value="#{bundle.Save}" update="display,:StoreOwnerListForm:datalist,:growl" oncomplete="handleSubmit(args, 'StoreOwnerEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="StoreOwnerEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
