<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="StoreOwnerViewDlg" widgetVar="StoreOwnerViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewStoreOwnerTitle}">
            <h:form id="StoreOwnerViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{storeOwnerController.selected != null}">
                        <h:outputText value="#{bundle.ViewStoreOwnerLabel_id}"/>
                        <h:outputText value="#{storeOwnerController.selected.id}" title="#{bundle.ViewStoreOwnerTitle_id}"/>
                        <h:outputText value="#{bundle.ViewStoreOwnerLabel_name}"/>
                        <h:outputText value="#{storeOwnerController.selected.name}" title="#{bundle.ViewStoreOwnerTitle_name}"/>
                        <h:outputText value="#{bundle.ViewStoreOwnerLabel_email}"/>
                        <h:outputText value="#{storeOwnerController.selected.email}" title="#{bundle.ViewStoreOwnerTitle_email}"/>
                        <h:outputText value="#{bundle.ViewStoreOwnerLabel_firstName}"/>
                        <h:outputText value="#{storeOwnerController.selected.firstName}" title="#{bundle.ViewStoreOwnerTitle_firstName}"/>
                        <h:outputText value="#{bundle.ViewStoreOwnerLabel_lastName}"/>
                        <h:outputText value="#{storeOwnerController.selected.lastName}" title="#{bundle.ViewStoreOwnerTitle_lastName}"/>
                        <h:outputText value="#{bundle.ViewStoreOwnerLabel_password}"/>
                        <h:outputText value="#{storeOwnerController.selected.password}" title="#{bundle.ViewStoreOwnerTitle_password}"/>
                        <h:outputText value="#{bundle.ViewStoreOwnerLabel_birthday}"/>
                        <h:outputText value="#{storeOwnerController.selected.birthday}" title="#{bundle.ViewStoreOwnerTitle_birthday}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <!--<h:outputText value="#{bundle.ViewStoreOwnerLabel_picture}"/>-->
                        <!--<h:outputText value="#{storeOwnerController.selected.picture}" title="#{bundle.ViewStoreOwnerTitle_picture}"/>-->
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="StoreOwnerViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
