<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserCreateDlg" widgetVar="UserCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUserTitle}">
            <h:form id="UserCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userController.selected != null}">

                        <p:outputLabel value="#{bundle.CreateUserLabel_name}" for="name" />
                        <p:inputText id="name" value="#{userController.selected.name}" title="#{bundle.CreateUserTitle_name}" required="true" requiredMessage="#{bundle.CreateUserRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreateUserLabel_registerationId}" for="registerationId" />
                        <p:inputText id="registerationId" value="#{userController.selected.registerationId}" title="#{bundle.CreateUserTitle_registerationId}" />
                        <p:outputLabel value="#{bundle.CreateUserLabel_email}" for="email" />
                        <p:inputText id="email" value="#{userController.selected.email}" title="#{bundle.CreateUserTitle_email}" required="true" requiredMessage="#{bundle.CreateUserRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.CreateUserLabel_firstName}" for="firstName" />
                        <p:inputText id="firstName" value="#{userController.selected.firstName}" title="#{bundle.CreateUserTitle_firstName}" />
                        <p:outputLabel value="#{bundle.CreateUserLabel_lastName}" for="lastName" />
                        <p:inputText id="lastName" value="#{userController.selected.lastName}" title="#{bundle.CreateUserTitle_lastName}" />
                        <p:outputLabel value="#{bundle.CreateUserLabel_password}" for="password" />
                        <p:inputText id="password" value="#{userController.selected.password}" title="#{bundle.CreateUserTitle_password}" required="true" requiredMessage="#{bundle.CreateUserRequiredMessage_password}"/>
                        <p:outputLabel value="#{bundle.CreateUserLabel_birthday}" for="birthday" />
                        <p:calendar id="birthday" pattern="MM/dd/yyyy" value="#{userController.selected.birthday}" title="#{bundle.EditUserTitle_birthday}" required="true" requiredMessage="#{bundle.EditUserRequiredMessage_birthday}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateUserLabel_facebookUserId}" for="facebookUserId" />
                        <p:inputText id="facebookUserId" value="#{userController.selected.facebookUserId}" title="#{bundle.CreateUserTitle_facebookUserId}" />
                        <p:outputLabel value="#{bundle.CreateUserLabel_facebookUserAccessToken}" for="facebookUserAccessToken" />
                        <p:inputText id="facebookUserAccessToken" value="#{userController.selected.facebookUserAccessToken}" title="#{bundle.CreateUserTitle_facebookUserAccessToken}" />
                        <!--<p:outputLabel value="#{bundle.CreateUserLabel_picture}" for="picture" />-->
                        <!--<p:inputText id="picture" value="#{userController.selected.picture}" title="#{bundle.CreateUserTitle_picture}" />-->
                    </p:panelGrid>
                    <p:commandButton actionListener="#{userController.create}" value="#{bundle.Save}" update="display,:UserListForm:datalist,:growl" oncomplete="handleSubmit(args,'UserCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UserCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
