<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UserViewDlg" widgetVar="UserViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUserTitle}">
            <h:form id="UserViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{userController.selected != null}">
                        <h:outputText value="#{bundle.ViewUserLabel_id}"/>
                        <h:outputText value="#{userController.selected.id}" title="#{bundle.ViewUserTitle_id}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_name}"/>
                        <h:outputText value="#{userController.selected.name}" title="#{bundle.ViewUserTitle_name}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_registerationId}"/>
                        <h:outputText value="#{userController.selected.registerationId}" title="#{bundle.ViewUserTitle_registerationId}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_email}"/>
                        <h:outputText value="#{userController.selected.email}" title="#{bundle.ViewUserTitle_email}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_firstName}"/>
                        <h:outputText value="#{userController.selected.firstName}" title="#{bundle.ViewUserTitle_firstName}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_lastName}"/>
                        <h:outputText value="#{userController.selected.lastName}" title="#{bundle.ViewUserTitle_lastName}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_password}"/>
                        <h:outputText value="#{userController.selected.password}" title="#{bundle.ViewUserTitle_password}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_birthday}"/>
                        <h:outputText value="#{userController.selected.birthday}" title="#{bundle.ViewUserTitle_birthday}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewUserLabel_facebookUserId}"/>
                        <h:outputText value="#{userController.selected.facebookUserId}" title="#{bundle.ViewUserTitle_facebookUserId}"/>
                        <h:outputText value="#{bundle.ViewUserLabel_facebookUserAccessToken}"/>
                        <h:outputText value="#{userController.selected.facebookUserAccessToken}" title="#{bundle.ViewUserTitle_facebookUserAccessToken}"/>
                        <!--<h:outputText value="#{bundle.ViewUserLabel_picture}"/>-->
                        <!--<h:outputText value="#{userController.selected.picture}" title="#{bundle.ViewUserTitle_picture}"/>-->
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UserViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
