<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
        >


<h:head>
    <title>Error Page</title>
    <!-- Libs CSS -->
    <h:outputStylesheet library="css" media="all" name="bootstrap.min.css" />
    <!-- Template CSS -->
    <h:outputStylesheet library="css" media="all" name="style.css" />
    <!-- Responsive CSS -->
    <h:outputStylesheet library="css" media="all" name="respons.css" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144"  href="/resources/img/logo.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/resources/img/logo.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/resources/img/logo.png"/>
    <link rel="apple-touch-icon" href="/resources/img/logo.png"/>
    <link rel="shortcut icon" href="/resources/img/logo.png"/>
    <!-- Google Fonts -->
    <h:outputStylesheet name="css" rel="stylesheet" library="css"/>

    <style type="text/css"></style></h:head>
<h:body>

    <!-- Load page -->
    <div class="animationload" style="display: none;">
        <div class="loader" style="display: none;">
        </div>
    </div>
    <!-- End load page -->


    <!-- Content Wrapper -->
    <div id="wrapper">
        <div class="container">

            <!-- brick of wall -->
            <div class="brick"></div>
            <!-- end brick of wall -->

            <!-- Number -->
            <div class="number">
                <div class="five"></div>
                <div class="zero">
                    <div class="nail"></div>
                </div>
                <div class="zero"></div>
            </div>
            <!-- end Number -->

            <!-- Info -->
            <div class="info">
                <h2>Something is wrong</h2>
                <p>Internal Server Error.</p>
                <h:form dir="#{langBean.location}">
                    <h:commandLink action="/pages/public/login" styleClass="btn" value="Go Home"> </h:commandLink>
                </h:form>
            </div>
            <!-- end Info -->


        </div>
        <!-- end container -->
    </div>
    <!-- end Content Wrapper -->

    <!-- Footer -->
    <footer id="footer">
        <div class="container">
            <!-- Worker -->
            <div class="worker"></div>
            <!-- Tools -->
            <div class="tools"></div>
        </div>
        <!-- end container -->
    </footer>
    <!-- end Footer -->


    <!-- Scripts -->
    <h:outputScript  library="js" name="jquery-1.11.2.min.js" />
    <h:outputScript library="js" name="bootstrap.min.js" />
    <h:outputScript library="js" name="modernizr.custom.js" />
    <h:outputScript library="js" name="jquery.nicescroll.min.js" />
    <h:outputScript library="js" name="scripts.js" />



    <div id="ascrail2000" class="nicescroll-rails" style="width: 4px; z-index: 999999; cursor: default; position: fixed; top: 0px; height: 100%; right: 0px; display: none;"><div style="position: relative; top: 0px; float: right; width: 2px; height: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(255, 255, 255); background-clip: padding-box;"></div></div>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</h:body></html>