<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
        >

<head>
	<meta http-equiv="Refresh" lang="0" content="0; URL=home.xhtml" />
    <title>Login page status</title>
</head>

    <f:viewParam name="code" value="#{facebookLoginBean.verificationCode}"/>

</html>
