<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <!--<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>-->

        <meta charset="UTF-8"/>
        <title>IWish - Login Page</title>


        <h:outputStylesheet library="css" name="normalize.css"/>
        <h:outputStylesheet library="css" name="grid.css"/>
        <h:outputStylesheet library="css" name="css.css"/>
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <h:outputStylesheet library="css" name="icomoon-scrtpxls.css"/>
        <h:outputStylesheet library="css" name="style_new.css"/>

        <h:outputStylesheet library="fonts" name="font-awesome.min.css"/>

        

        <script>
            window.console = window.console || function (t) {
            };
            window.open = function () {
                console.log("window.open is disabled.");
            };
            window.print = function () {
                console.log("window.print is disabled.");
            };
        </script>

        <h:outputScript library="js" name="prefixfree.js"/>



    </h:head>

    <h:body>

        <f:loadBundle basename="Bundle" var="bundle" />
        <c:if test="#{not empty user}">
            <script type="text/javascript">
                window.location = "#{request.servletContext.contextPath}/pages/private/user/home.xhtml";
            </script>
        </c:if>

        <div class="wrapper " style="margin-left: 30%;margin-right: 30%;width: 40%">
            <div class="block-center mt-xl wd-xl">
                <!-- START panel-->
                <h:form dir="#{langBean.location}">
                <div class="panel panel-dark panel-flat">
                    <div class="panel-heading text-center">
                        <!--<a href="#">-->
                            <h:graphicImage library="img" name="logo.png" alt="Image" style="width: 50%" class="block-center img-rounded"/>
                        <!--</a>-->
                    </div>
                    <div class="panel-body" style="padding-left: 10%; padding-right: 10%;" >
                        <h3 class="text-center pv">#{bundle.iWishLoginTitle}</h3>
                        <div role="form" data-parsley-validate="" class="mb-lg">
                            <div class="form-group has-feedback">
                                <h:outputLabel class="text-center pv" value="#{bundle.userLoginPage_emailLabel}"/>
                                <h:inputText data-parsley-id="7349" id="exampleInputEmail1" value="#{loginBean.email}" placeholder="#{bundle.userLoginPage_emailPlaceHolder}" autocomplete="off" required="true" class="form-control" type="email" requiredMessage="#{bundle.userLoginPageRequired_emailMessage}" validatorMessage="#{bundle.userLoginPageValidation_emailMessage}" converterMessage="#{bundle.userLoginPageConverterMessage_email}">
                                    <!--<f:validateRegex pattern="^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,6}$" />-->
                                </h:inputText>
                                    <ul id="parsley-id-7349" class="parsley-errors-list"></ul>
                                    <!--<span class="fa fa-envelope form-control-feedback text-muted"></span>-->

                            </div>
                            <div class="form-group has-feedback">
                                <h:outputLabel class="text-center pv" value="#{bundle.userLoginPage_passwordLabel}"/>
                                <h:inputSecret data-parsley-id="3804" id="exampleInputPassword1" value="#{loginBean.password}" placeholder="#{bundle.userLoginPage_passwordPlaceHolder}" required="true" class="form-control" type="password" requiredMessage="#{bundle.userLoginPageRequired_passwordMessage}" />
                                    <ul id="parsley-id-3804" class="parsley-errors-list"></ul>
                                    <!--<span class="fa fa-lock form-control-feedback text-muted"></span>-->
                                <!--<f:validateLength maximum="100" />-->

                            </div>
                            <span class="ui-message-error" style="color:red;">
                                        <h:messages id="loginFail"  />
                            </span>
                            <div class="clearfix">
                                <div class="checkbox c-checkbox pull-left mt0">
                                    <!--<label>-->
                                        <!--<input data-parsley-id="8598" data-parsley-multiple="remember" value="" name="remember" type="checkbox"/>-->
                                            <!--<span class="fa fa-check"></span>Remember Me</label><ul id="parsley-id-multiple-remember" class="parsley-errors-list"></ul>-->
                                </div>
                                <!--<div class="pull-right"><a href="#" class="text-muted">Forgot your password?</a>-->
                                <!--</div>-->

                            </div>
                            <h:commandButton action="#{loginBean.login}" class="btn btn-block btn-primary mt-lg" value="#{bundle.userLoginPage_loginButton}" style="width:190px; margin: auto;"/>

                        </div>

                        <a class="btn btn-block btn-social btn-lg btn-facebook" href="#{facebookLoginBean.facebookLoginDialogUrl()}"
                           style="background-color:#3B5998;color: #ffffff; width:190px; margin: auto; margin-top: 5px;"
                           onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);"
                                >
                            <i class="fa fa-facebook"></i> #{bundle.loginWithFacebook}</a>

                        <!--<a href="storeOwnerlogin.xhtml" class="btn btn-block btn-info mt-lg" style="width:190px; margin: auto; margin-top: 5px;" >Login as Admin/Store Owner</a>-->
                        <h:commandButton value="عربى"  immediate="true" action="#{langBean.changeLang('ar')}" class="btn btn-block btn-info mt-lg" style="width:190px; margin: auto; margin-top: 5px;" ></h:commandButton>
                        <h:commandButton value="English" immediate="true" action="#{langBean.changeLang('en')}" class="btn btn-block btn-info mt-lg" style="width:190px; margin: auto; margin-top: 5px;" ></h:commandButton>
                    </div>
                </div>
                </h:form>
                <!-- END panel-->
                <div class="p-lg text-center">
                    <span>©</span>
                    <span>2015</span>
                    <span>-</span>
                    <span>IWish</span>
                    <br />
                        <span>IWish Co.</span>
                </div>
            </div>
        </div>


        <script>
            if (document.location.search.match(/type=embed/gi)) {
                window.parent.postMessage("resize", "*");
            }
        </script>


        <script type="text/javascript" src="js/bootstrap.min.js"/>

    </h:body>
</html>