<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
        >
    <h:head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="UTF-8"/>
        <title>IWish - Login Page</title>


        <h:outputStylesheet library="css" name="normalize.css"/>
        <h:outputStylesheet library="css" name="grid.css"/>
        <h:outputStylesheet library="css" name="css.css"/>
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <h:outputStylesheet library="css" name="icomoon-scrtpxls.css"/>
        <h:outputStylesheet library="css" name="style_new.css"/>

        <h:outputStylesheet library="fonts" name="font-awesome.min.css"/>

        

        <script>
            window.console = window.console || function (t) {
            };
            window.open = function () {
                console.log("window.open is disabled.");
            };
            window.print = function () {
                console.log("window.print is disabled.");
            };
        </script>

        <h:outputScript library="js" name="prefixfree.js"/>


    </h:head>

    <h:body>

        <div class="wrapper " style="margin-left: 30%;margin-right: 30%;width: 40%">
            <div class="block-center mt-xl wd-xl">
                <!-- START panel-->
                <h:form dir="#{langBean.location}">
                <div class="panel panel-dark panel-flat">
                    <div class="panel-heading text-center">
                        <a href="#">
                            <h:graphicImage library="img" name="logo.png" alt="Image" style="width: 50%" class="block-center img-rounded"/>
                        </a>
                    </div>
                    <div class="panel-body">
                        <p class="text-center pv">#{bundle.storeOwnerIWishLoginTitle}</p>
                        <div role="form" data-parsley-validate="" class="mb-lg">
                            <div class="form-group has-feedback">
                                <h:outputLabel class="text-center pv" value="#{bundle.storeOwnerLoginPage_emailLabel}"/>
                                <h:inputText data-parsley-id="7349" id="exampleInputEmail1" value="#{storeOwnerLoginBean.email}" placeholder="#{bundle.storeOwnerLoginPage_emailPlaceHolder}" autocomplete="off" required="true" class="form-control" type="email" requiredMessage="#{bundle.storeOwnerLoginPageRequired_emailMessage}"/>
                                    <ul id="parsley-id-7349" class="parsley-errors-list"></ul>
                                    <!--<span class="fa fa-envelope form-control-feedback text-muted"></span>-->
                            </div>
                            <div class="form-group has-feedback">
                                <h:outputLabel class="text-center pv" value="#{bundle.storeOwnerLoginPage_passwordLabel}"/>
                                <h:inputSecret data-parsley-id="3804" id="exampleInputPassword1" value="#{storeOwnerLoginBean.password}" placeholder="#{bundle.storeOwnerLoginPage_passwordPlaceHolder}" required="true" class="form-control" type="password" requiredMessage="#{bundle.storeOwnerLoginPageRequired_passwordMessage}"/>
                                    <ul id="parsley-id-3804" class="parsley-errors-list"></ul>
                                    <!--<span class="fa fa-lock form-control-feedback text-muted"></span>-->
                            </div>
                            <span class="ui-message-error" style="color:red;">
                                        <h:messages showDetail="true"  showSummary="true"  />
                            </span>
                            <div class="clearfix">
                                <div class="checkbox c-checkbox pull-left mt0">
                                    <!--<label>-->
                                        <!--<input data-parsley-id="8598" data-parsley-multiple="remember" value="" name="remember" type="checkbox"/>-->
                                            <!--<span class="fa fa-check"></span>Remember Me</label><ul id="parsley-id-multiple-remember" class="parsley-errors-list"></ul>-->
                                </div>
                                <!--<div class="pull-right"><a href="#" class="text-muted">Forgot your password?</a>-->
                                <!--</div>-->

                            </div>
                            <h:commandButton action="#{storeOwnerLoginBean.login}" style="width:190px; margin: auto;" class="btn btn-block btn-primary mt-lg" value="#{bundle.storeOwnerLoginPage_loginButton}" />
                        </div>
                        <p class="pt-lg text-center"></p>
                        <h:commandButton value="عربى"  immediate="true" action="#{langBean.changeLang('ar')}" class="btn btn-block btn-info mt-lg" style="width:190px; margin: auto; margin-top: 5px;"></h:commandButton>
                        <h:commandButton value="English" immediate="true" action="#{langBean.changeLang('en')}" class="btn btn-block btn-info mt-lg" style="width:190px; margin: auto; margin-top: 5px;"></h:commandButton>
                    </div>
                </div>
                </h:form>
                <!-- END panel-->
                <div class="p-lg text-center">
                    <span>©</span>
                    <span>2015</span>
                    <span>-</span>
                    <span>IWish</span>
                    <br />
                        <span>IWish Co.</span>
                </div>
            </div>
        </div>


        <script>
            if (document.location.search.match(/type=embed/gi)) {
                window.parent.postMessage("resize", "*");
            }
        </script>


        <script type="text/javascript" src="js/bootstrap.min.js"/>


    </h:body>
</html>