<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GreetingCreateDlg" widgetVar="GreetingCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateGreetingTitle}">
            <h:form id="GreetingCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{greetingController.selected != null}">

                        <p:outputLabel value="#{bundle.CreateGreetingLabel_eventType}" for="eventType" />
                        <p:selectOneMenu  converter="EventTypeControllerConverter" id="eventType" value="#{greetingController.selected.eventTypeDTO}" required="true" requiredMessage="#{bundle.EditGreetingRequiredMessage_eventType}">
                            <f:selectItems  value="#{eventTypeController.itemsAvailableSelectOne}"
                                           var="eventTypeItem"
                                           itemLabel="#{eventTypeItem.name}"
                                           itemValue="#{eventTypeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateGreetingLabel_description}" for="description" />
                        <p:inputTextarea cols="50" rows="10" id="description" value="#{greetingController.selected.description}" title="#{bundle.CreateGreetingTitle_description}" required="true" requiredMessage="#{bundle.CreateGreetingRequiredMessage_description}" validatorMessage="#{bundle.CreateGreetingValidationMessage_description}">
                            <f:validateLength maximum="500"/>
                        </p:inputTextarea>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{greetingController.create}" value="#{bundle.Save}" update="display,:GreetingListForm:datalist,:growl" oncomplete="handleSubmit(args,'GreetingCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GreetingCreateDialog.hide()" />
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
