<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GreetingEditDlg" widgetVar="GreetingEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditGreetingTitle}">
            <h:form id="GreetingEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{greetingController.selected != null}">
                        <p:selectOneMenu converter="EventTypeControllerConverter" id="eventType" value="#{greetingController.selected.eventTypeDTO}" required="true" requiredMessage="#{bundle.EditGreetingRequiredMessage_eventType}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{eventTypeController.itemsAvailableSelectOne}"
                                           var="eventTypeItem"
                                           itemLabel="#{eventTypeItem.name}"
                                           itemValue="#{eventTypeItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditGreetingLabel_description}" for="description" />
                        <p:inputTextarea cols="50" rows="10" id="description" value="#{greetingController.selected.description}" title="#{bundle.EditGreetingTitle_description}" required="true" requiredMessage="#{bundle.EditGreetingRequiredMessage_description}" validatorMessage="#{bundle.EditGreetingValidationMessage_description}">
                            <f:validateLength maximum="500"/>
                        </p:inputTextarea>
                    </p:panelGrid>

                    <p:commandButton actionListener="#{greetingController.update}" value="#{bundle.Save}" update="display,:GreetingListForm:datalist,:growl" oncomplete="handleSubmit(args, 'GreetingEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="GreetingEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
