<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<ui:composition template="/pages/private/admin/adminPanel.xhtml">


    <ui:define name="title">
        <h:outputText value="#{bundle.ListGreetingTitle}"></h:outputText>
    </ui:define>

    <ui:define name="body">
        <h:form id="GreetingListForm">
            <p:panel header="#{bundle.ListGreetingTitle}">
                <p:dataTable id="datalist" value="#{greetingController.items}" var="item"
                             selectionMode="single" selection="#{greetingController.selected}"
                             paginator="true"
                             rowKey="#{item.id}"
                             rows="10"
                             rowsPerPageTemplate="10,20,30,40,50"
                        >

                    <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                    <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGreetingTitle_id}"/>
                        </f:facet>
                        <h:outputText value="#{item.id}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGreetingTitle_eventType}"/>
                        </f:facet>
                        <h:outputText value="#{item.eventTypeDTO.name}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListGreetingTitle_description}"/>
                        </f:facet>
                        <h:outputText value="#{item.description}"/>
                    </p:column>
                    <f:facet name="footer">
                        <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{greetingController.prepareCreate}" update=":GreetingCreateForm" oncomplete="PF('GreetingCreateDialog').show()"/>
                        <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":GreetingViewForm" oncomplete="PF('GreetingViewDialog').show()" disabled="#{empty greetingController.selected}"/>
                        <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":GreetingEditForm" oncomplete="PF('GreetingEditDialog').show()" disabled="#{empty greetingController.selected}"/>
                        <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{greetingController.destroy}" update=":growl,datalist" disabled="#{empty greetingController.selected}"/>
                    </f:facet>
                </p:dataTable>
            </p:panel>
        </h:form>

        <ui:include src="Create.xhtml"/>
        <ui:include src="Edit.xhtml"/>
        <ui:include src="View.xhtml"/>
    </ui:define>
</ui:composition>

</html>
