<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GreetingViewDlg" widgetVar="GreetingViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewGreetingTitle}">
            <h:form id="GreetingViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{greetingController.selected != null}">

                        <h:outputText value="#{bundle.ViewGreetingLabel_eventType}"/>
                        <h:outputText value="#{greetingController.selected.eventTypeDTO}" title="#{bundle.ViewGreetingTitle_eventType}"/>
                        <h:outputText value="#{bundle.ViewGreetingLabel_description}"/>
                        <h:outputText value="#{greetingController.selected.description}" title="#{bundle.ViewGreetingTitle_description}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="GreetingViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
