<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CategoryEditDlg" widgetVar="CategoryEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditCategoryTitle}">
            <h:form id="CategoryEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{categoryController.selected != null}">

                        <p:outputLabel value="#{bundle.EditCategoryLabel_name}" for="name" />
                        <p:inputText id="name" value="#{categoryController.selected.name}" title="#{bundle.EditCategoryTitle_name}" required="true" requiredMessage="#{bundle.EditCategoryRequiredMessage_name}" validatorMessage="#{bundle.EditCategoryValidationMessage_name}">
                            <f:validateLength maximum="50"/>
                        </p:inputText>
                        </p:panelGrid>
                    <p:commandButton actionListener="#{categoryController.update}" value="#{bundle.Save}" update="display,:CategoryListForm:datalist,:growl" oncomplete="handleSubmit(args, 'CategoryEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="CategoryEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
